In [2]:
import pandas as pd
import numpy as np
pd.options.display.max_columns  = 30

# 정렬

## index이름, column이름을 기준으로 정렬

-   <b style='font-size:1.2em'>sort_index(axis=0, ascending=True, inplace=False)</b>
    -   axis
        -   index 이름 기준 정렬(행) : 'index' 또는 0 (기본값)
        -   column 이름 기준 정렬(열) : 'columns' 또는 1
    -   ascending
        -   정렬방식
        -   True(기본): 오름차순, False: 내림차순
    -   inplace
        -   원본에 적용 여부
        -   False(기본): 변경한 복사본 반환
        -   True : 원본을 변경
-   Index name을 정렬하면 앞의 몇글자만 가지고 slicing을 할 수 있다.
    -   ex) A로 시작하는 것에서 C로 시작하는 것 까지
    -   단 결측치(NA) 값이 index name에 있으면 안된다.

In [4]:
df = pd.read_csv("data/movie.csv", index_col="movie_title")
df.shape

(4916, 27)

In [5]:
df.head(3)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,num_voted_users,cast_total_facebook_likes,actor_3_name,facenumber_in_poster,plot_keywords,movie_imdb_link,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,,,,,,,
Avatar,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,886204,4834,Wes Studi,0.0,avatar|future|marine|native|paraplegic,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,471220,48350,Jack Davenport,0.0,goddess|marriage ceremony|marriage proposal|pi...,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
Spectre,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,Christoph Waltz,275868,11700,Stephanie Sigman,1.0,bomb|espionage|sequel|spy|terrorist,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000

In [6]:
# 컬럼 이름을 기준으로 정렬
df.sort_index(axis=1)

,actor_1_facebook_likes,actor_1_name,actor_2_facebook_likes,actor_2_name,actor_3_facebook_likes,actor_3_name,aspect_ratio,budget,cast_total_facebook_likes,color,content_rating,country,director_facebook_likes,director_name,duration,facenumber_in_poster,genres,gross,imdb_score,language,movie_facebook_likes,movie_imdb_link,num_critic_for_reviews,num_user_for_reviews,num_voted_users,plot_keywords,title_year
movie_title,,,,,,,,,,,,,,,,,,,,,,,,,,,
Avatar,1000.0,CCH Pounder,936.0,Joel David Moore,855.0,Wes Studi,1.78,237000000.0,4834,Color,PG-13,USA,0.0,James Cameron,178.0,0.0,Action|Adventure|Fantasy|Sci-Fi,760505847.0,7.9,English,33000,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,723.0,3054.0,886204,avatar|future|marine|native|paraplegic,2009.0
Pirates of the Caribbean: At World's End,40000.0,Johnny Depp,5000.0,Orlando Bloom,1000.0,Jack Davenport,2.35,300000000.0,48350,Color,PG-13,USA,563.0,Gore Verbinski,169.0,0.0,Action|Adventure|Fantasy,309404152.0,7.1,English,0,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,302.0,1238.0,471220,goddess|marriage ceremony|marriage proposal|pi...,2007.0
Spectre,11000.0,Christoph Waltz,393.0,Rory Kinnear,161.0,Stephanie Sigman,2.35,245000000.0,11700,Color,PG-13,UK,0.0,Sam Mendes,148.0,1.0,Action|Adventure|Thriller,200074175.0,6.8,English,85000,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,602.0,994.0,275868,bomb|espionage|sequel|spy|terrorist,2015.0
The Dark Knight Rises,27000.0,Tom Hardy,23000.0,Christian Bale,23000.0,Joseph Gordon-Levitt,2.35,250000000.0,106759,Color,PG-13,USA,22000.0,Christopher Nolan,164.0,0.0,Action|Thriller,448130642.0,8.5,English,164000,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,813.0,2701.0,1144337,deception|imprisonment|lawlessness|police offi...,2012.0
Star Wars: Episode VII - The Force Awakens,131.0,Doug Walker,12.0,Rob Walker,NaN,NaN,NaN,NaN,143,NaN,NaN,NaN,131.0,Doug Walker,NaN,0.0,Documentary,NaN,7.1,NaN,0,http://www.imdb.com/title/tt5289954/?ref_=fn_t...,NaN,NaN,8,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Signed Sealed Delivered,637.0,Eric Mabius,470.0,Daphne Zuniga,318.0,Crystal Lowe,NaN,NaN,2283,Color,NaN,Canada,2.0,Scott Smith,87.0,2.0,Comedy|Drama,NaN,7.7,English,84,http://www.imdb.com/title/tt3000844/?ref_=fn_t...,1.0,6.0,629,fraud|postal worker|prison|theft|trial,2013.0
The Following,841.0,Natalie Zea,593.0,Valorie Curry,319.0,Sam Underwood,16.00,NaN,1753,Color,TV-14,USA,NaN,NaN,43.0,1.0,Crime|Drama|Mystery|Thriller,NaN,7.5,English,32000,http://www.imdb.com/title/tt2071645/?ref_=fn_t...,43.0,359.0,73839,cult|fbi|hideout|prison escape|serial killer,NaN
A Plague So Pleasant,0.0,Eva Boehnke,0.0,Maxwell Moody,0.0,David Chandler,NaN,1400.0,0,Color,NaN,USA,0.0,Benjamin Roberds,76.0,0.0,Drama|Horror|Thriller,NaN,6.3,English,16,http://www.imdb.com/title/tt2107644/?ref_=fn_t...,13.0,3.0,38,NaN,2013.0
Shanghai Calling,946.0,Alan Ruck,719.0,Daniel Henney,489.0,Eliza Coupe,2.35,NaN,2386,Color,PG-13,USA,0.0,Daniel Hsia,100.0,5.0,Comedy|Drama|Romance,10443.0,6.3,English,660,http://www.imdb.com/title/tt2070597/?ref_=fn_t...,14.0,9.0,1255,NaN,2012.0
My Date with Drew,86.0,John August,23.0,Brian Herzlinger,16.0,Jon Gunn,1.85,1100.0,163,Color,PG,USA,16.0,Jon Gunn,90.0,0.0,Documentary,85222.0,6.6,English,456,http://www.imdb.com/title/tt0378407/?ref_=fn_t...,43.0,84.0,4285,actress name in title|crush|date|four word tit...,2004.0

In [7]:
df.sort_index(axis=1,ascending=False)

,title_year,plot_keywords,num_voted_users,num_user_for_reviews,num_critic_for_reviews,movie_imdb_link,movie_facebook_likes,language,imdb_score,gross,genres,facenumber_in_poster,duration,director_name,director_facebook_likes,country,content_rating,color,cast_total_facebook_likes,budget,aspect_ratio,actor_3_name,actor_3_facebook_likes,actor_2_name,actor_2_facebook_likes,actor_1_name,actor_1_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,,,,,,,
Avatar,2009.0,avatar|future|marine|native|paraplegic,886204,3054.0,723.0,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,33000,English,7.9,760505847.0,Action|Adventure|Fantasy|Sci-Fi,0.0,178.0,James Cameron,0.0,USA,PG-13,Color,4834,237000000.0,1.78,Wes Studi,855.0,Joel David Moore,936.0,CCH Pounder,1000.0
Pirates of the Caribbean: At World's End,2007.0,goddess|marriage ceremony|marriage proposal|pi...,471220,1238.0,302.0,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,0,English,7.1,309404152.0,Action|Adventure|Fantasy,0.0,169.0,Gore Verbinski,563.0,USA,PG-13,Color,48350,300000000.0,2.35,Jack Davenport,1000.0,Orlando Bloom,5000.0,Johnny Depp,40000.0
Spectre,2015.0,bomb|espionage|sequel|spy|terrorist,275868,994.0,602.0,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,85000,English,6.8,200074175.0,Action|Adventure|Thriller,1.0,148.0,Sam Mendes,0.0,UK,PG-13,Color,11700,245000000.0,2.35,Stephanie Sigman,161.0,Rory Kinnear,393.0,Christoph Waltz,11000.0
The Dark Knight Rises,2012.0,deception|imprisonment|lawlessness|police offi...,1144337,2701.0,813.0,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,164000,English,8.5,448130642.0,Action|Thriller,0.0,164.0,Christopher Nolan,22000.0,USA,PG-13,Color,106759,250000000.0,2.35,Joseph Gordon-Levitt,23000.0,Christian Bale,23000.0,Tom Hardy,27000.0
Star Wars: Episode VII - The Force Awakens,NaN,NaN,8,NaN,NaN,http://www.imdb.com/title/tt5289954/?ref_=fn_t...,0,NaN,7.1,NaN,Documentary,0.0,NaN,Doug Walker,131.0,NaN,NaN,NaN,143,NaN,NaN,NaN,NaN,Rob Walker,12.0,Doug Walker,131.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Signed Sealed Delivered,2013.0,fraud|postal worker|prison|theft|trial,629,6.0,1.0,http://www.imdb.com/title/tt3000844/?ref_=fn_t...,84,English,7.7,NaN,Comedy|Drama,2.0,87.0,Scott Smith,2.0,Canada,NaN,Color,2283,NaN,NaN,Crystal Lowe,318.0,Daphne Zuniga,470.0,Eric Mabius,637.0
The Following,NaN,cult|fbi|hideout|prison escape|serial killer,73839,359.0,43.0,http://www.imdb.com/title/tt2071645/?ref_=fn_t...,32000,English,7.5,NaN,Crime|Drama|Mystery|Thriller,1.0,43.0,NaN,NaN,USA,TV-14,Color,1753,NaN,16.00,Sam Underwood,319.0,Valorie Curry,593.0,Natalie Zea,841.0
A Plague So Pleasant,2013.0,NaN,38,3.0,13.0,http://www.imdb.com/title/tt2107644/?ref_=fn_t...,16,English,6.3,NaN,Drama|Horror|Thriller,0.0,76.0,Benjamin Roberds,0.0,USA,NaN,Color,0,1400.0,NaN,David Chandler,0.0,Maxwell Moody,0.0,Eva Boehnke,0.0
Shanghai Calling,2012.0,NaN,1255,9.0,14.0,http://www.imdb.com/title/tt2070597/?ref_=fn_t...,660,English,6.3,10443.0,Comedy|Drama|Romance,5.0,100.0,Daniel Hsia,0.0,USA,PG-13,Color,2386,NaN,2.35,Eliza Coupe,489.0,Daniel Henney,719.0,Alan Ruck,946.0
My Date with Drew,2004.0,actress name in title|crush|date|four word tit...,4285,84.0,43.0,http://www.imdb.com/title/tt0378407/?ref_=fn_t...,456,English,6.6,85222.0,Documentary,0.0,90.0,Jon Gunn,16.0,USA,PG,Color,163,1100.0,1.85,Jon Gunn,16.0,Brian Herzlinger,23.0,John August,86.0

In [8]:
# index name (행이름) 기준 정렬
df.sort_index()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,num_voted_users,cast_total_facebook_likes,actor_3_name,facenumber_in_poster,plot_keywords,movie_imdb_link,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,,,,,,,
#Horror,Color,Tara Subkoff,35.0,101.0,37.0,56.0,Balthazar Getty,501.0,NaN,Drama|Horror|Mystery|Thriller,Timothy Hutton,1547,1044,Lydia Hearst,1.0,bullying|cyberbullying|girl|internet|throat sl...,http://www.imdb.com/title/tt3526286/?ref_=fn_t...,42.0,English,USA,Not Rated,1500000.0,2015.0,418.0,3.3,NaN,750
10 Cloverfield Lane,Color,Dan Trachtenberg,411.0,104.0,16.0,82.0,John Gallagher Jr.,14000.0,71897215.0,Drama|Horror|Mystery|Sci-Fi|Thriller,Bradley Cooper,126893,14504,Sumalee Montano,0.0,alien|bunker|car crash|kidnapping|minimal cast,http://www.imdb.com/title/tt1179933/?ref_=fn_t...,440.0,English,USA,PG-13,15000000.0,2016.0,338.0,7.3,2.35,33000
10 Days in a Madhouse,Color,Timothy Hines,1.0,111.0,0.0,247.0,Kelly LeBrock,1000.0,14616.0,Drama,Christopher Lambert,314,2059,Alexandra Callas,1.0,NaN,http://www.imdb.com/title/tt3453052/?ref_=fn_t...,10.0,English,USA,R,12000000.0,2015.0,445.0,7.5,1.85,26000
10 Things I Hate About You,Color,Gil Junger,133.0,97.0,19.0,835.0,Heath Ledger,23000.0,38176108.0,Comedy|Drama|Romance,Joseph Gordon-Levitt,222099,37907,Andrew Keegan,6.0,dating|protective father|school|shrew|teen movie,http://www.imdb.com/title/tt0147800/?ref_=fn_t...,549.0,English,USA,PG-13,16000000.0,1999.0,13000.0,7.2,1.85,10000
"10,000 B.C.",NaN,Christopher Barnard,NaN,22.0,0.0,NaN,NaN,5.0,NaN,Comedy,Mathew Buck,6,5,NaN,0.0,NaN,http://www.imdb.com/title/tt1869849/?ref_=fn_t...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.2,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
[Rec] 2,Color,Jaume Balagueró,222.0,85.0,57.0,6.0,Pablo Rosso,37.0,27024.0,Horror,Jonathan D. Mellor,55597,73,Andrea Ros,0.0,apartment|apartment building|blood sample|cruc...,http://www.imdb.com/title/tt1245112/?ref_=fn_t...,148.0,Spanish,Spain,R,5600000.0,2009.0,9.0,6.6,1.85,4000
eXistenZ,Color,David Cronenberg,196.0,115.0,0.0,716.0,Sarah Polley,1000.0,2840417.0,Horror|Sci-Fi|Thriller,Jennifer Jason Leigh,77493,2990,Callum Rennie,0.0,assassin|game|game designer|pod|virtual reality,http://www.imdb.com/title/tt0120907/?ref_=fn_t...,527.0,English,Canada,R,31000000.0,1999.0,900.0,6.8,1.85,6000
xXx,Color,Rob Cohen,191.0,132.0,357.0,212.0,Eve,14000.0,141204016.0,Action|Adventure|Thriller,Vin Diesel,142569,14790,Leila Arcieri,0.0,agent|nsa|nsa agent|prague|russian,http://www.imdb.com/title/tt0295701/?ref_=fn_t...,737.0,English,USA,PG-13,70000000.0,2002.0,223.0,5.8,2.35,10000
xXx: State of the Union,Color,Lee Tamahori,77.0,101.0,93.0,218.0,Nona Gaye,287.0,26082914.0,Action|Adventure|Crime|Thriller,Sunny Mabrey,51349,993,Xzibit,2.0,coup d'etat|mutiny|president|u.s. navy|washing...,http://www.imdb.com/title/tt0329774/?ref_=fn_t...,213.0,English,USA,PG-13,87000000.0,2005.0,233.0,4.3,2.35,0
Æon Flux,Color,Karyn Kusama,178.0,93.0,45.0,352.0,Sophie Okonedo,9000.0,25857987.0,Action|Sci-Fi,Charlize Theron,110614,10185,Paterson Joseph,0.0,based on cult favorite|disease|female hero|fem...,http://www.imdb.com/title/tt0402022/?ref_=fn_t...,532.0,English,USA,PG-13,62000000.0,2005.0,460.0,5.5,2.35,0

In [9]:
df.sort_index(ascending=False)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,num_voted_users,cast_total_facebook_likes,actor_3_name,facenumber_in_poster,plot_keywords,movie_imdb_link,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,,,,,,,
Æon Flux,Color,Karyn Kusama,178.0,93.0,45.0,352.0,Sophie Okonedo,9000.0,25857987.0,Action|Sci-Fi,Charlize Theron,110614,10185,Paterson Joseph,0.0,based on cult favorite|disease|female hero|fem...,http://www.imdb.com/title/tt0402022/?ref_=fn_t...,532.0,English,USA,PG-13,62000000.0,2005.0,460.0,5.5,2.35,0
xXx: State of the Union,Color,Lee Tamahori,77.0,101.0,93.0,218.0,Nona Gaye,287.0,26082914.0,Action|Adventure|Crime|Thriller,Sunny Mabrey,51349,993,Xzibit,2.0,coup d'etat|mutiny|president|u.s. navy|washing...,http://www.imdb.com/title/tt0329774/?ref_=fn_t...,213.0,English,USA,PG-13,87000000.0,2005.0,233.0,4.3,2.35,0
xXx,Color,Rob Cohen,191.0,132.0,357.0,212.0,Eve,14000.0,141204016.0,Action|Adventure|Thriller,Vin Diesel,142569,14790,Leila Arcieri,0.0,agent|nsa|nsa agent|prague|russian,http://www.imdb.com/title/tt0295701/?ref_=fn_t...,737.0,English,USA,PG-13,70000000.0,2002.0,223.0,5.8,2.35,10000
eXistenZ,Color,David Cronenberg,196.0,115.0,0.0,716.0,Sarah Polley,1000.0,2840417.0,Horror|Sci-Fi|Thriller,Jennifer Jason Leigh,77493,2990,Callum Rennie,0.0,assassin|game|game designer|pod|virtual reality,http://www.imdb.com/title/tt0120907/?ref_=fn_t...,527.0,English,Canada,R,31000000.0,1999.0,900.0,6.8,1.85,6000
[Rec] 2,Color,Jaume Balagueró,222.0,85.0,57.0,6.0,Pablo Rosso,37.0,27024.0,Horror,Jonathan D. Mellor,55597,73,Andrea Ros,0.0,apartment|apartment building|blood sample|cruc...,http://www.imdb.com/title/tt1245112/?ref_=fn_t...,148.0,Spanish,Spain,R,5600000.0,2009.0,9.0,6.6,1.85,4000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"10,000 B.C.",NaN,Christopher Barnard,NaN,22.0,0.0,NaN,NaN,5.0,NaN,Comedy,Mathew Buck,6,5,NaN,0.0,NaN,http://www.imdb.com/title/tt1869849/?ref_=fn_t...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.2,NaN,0
10 Things I Hate About You,Color,Gil Junger,133.0,97.0,19.0,835.0,Heath Ledger,23000.0,38176108.0,Comedy|Drama|Romance,Joseph Gordon-Levitt,222099,37907,Andrew Keegan,6.0,dating|protective father|school|shrew|teen movie,http://www.imdb.com/title/tt0147800/?ref_=fn_t...,549.0,English,USA,PG-13,16000000.0,1999.0,13000.0,7.2,1.85,10000
10 Days in a Madhouse,Color,Timothy Hines,1.0,111.0,0.0,247.0,Kelly LeBrock,1000.0,14616.0,Drama,Christopher Lambert,314,2059,Alexandra Callas,1.0,NaN,http://www.imdb.com/title/tt3453052/?ref_=fn_t...,10.0,English,USA,R,12000000.0,2015.0,445.0,7.5,1.85,26000
10 Cloverfield Lane,Color,Dan Trachtenberg,411.0,104.0,16.0,82.0,John Gallagher Jr.,14000.0,71897215.0,Drama|Horror|Mystery|Sci-Fi|Thriller,Bradley Cooper,126893,14504,Sumalee Montano,0.0,alien|bunker|car crash|kidnapping|minimal cast,http://www.imdb.com/title/tt1179933/?ref_=fn_t...,440.0,English,USA,PG-13,15000000.0,2016.0,338.0,7.3,2.35,33000
#Horror,Color,Tara Subkoff,35.0,101.0,37.0,56.0,Balthazar Getty,501.0,NaN,Drama|Horror|Mystery|Thriller,Timothy Hutton,1547,1044,Lydia Hearst,1.0,bullying|cyberbullying|girl|internet|throat sl...,http://www.imdb.com/title/tt3526286/?ref_=fn_t...,42.0,English,USA,Not Rated,1500000.0,2015.0,418.0,3.3,NaN,750

In [10]:
df.sort_index().sort_index(axis=1)

,actor_1_facebook_likes,actor_1_name,actor_2_facebook_likes,actor_2_name,actor_3_facebook_likes,actor_3_name,aspect_ratio,budget,cast_total_facebook_likes,color,content_rating,country,director_facebook_likes,director_name,duration,facenumber_in_poster,genres,gross,imdb_score,language,movie_facebook_likes,movie_imdb_link,num_critic_for_reviews,num_user_for_reviews,num_voted_users,plot_keywords,title_year
movie_title,,,,,,,,,,,,,,,,,,,,,,,,,,,
#Horror,501.0,Timothy Hutton,418.0,Balthazar Getty,56.0,Lydia Hearst,NaN,1500000.0,1044,Color,Not Rated,USA,37.0,Tara Subkoff,101.0,1.0,Drama|Horror|Mystery|Thriller,NaN,3.3,English,750,http://www.imdb.com/title/tt3526286/?ref_=fn_t...,35.0,42.0,1547,bullying|cyberbullying|girl|internet|throat sl...,2015.0
10 Cloverfield Lane,14000.0,Bradley Cooper,338.0,John Gallagher Jr.,82.0,Sumalee Montano,2.35,15000000.0,14504,Color,PG-13,USA,16.0,Dan Trachtenberg,104.0,0.0,Drama|Horror|Mystery|Sci-Fi|Thriller,71897215.0,7.3,English,33000,http://www.imdb.com/title/tt1179933/?ref_=fn_t...,411.0,440.0,126893,alien|bunker|car crash|kidnapping|minimal cast,2016.0
10 Days in a Madhouse,1000.0,Christopher Lambert,445.0,Kelly LeBrock,247.0,Alexandra Callas,1.85,12000000.0,2059,Color,R,USA,0.0,Timothy Hines,111.0,1.0,Drama,14616.0,7.5,English,26000,http://www.imdb.com/title/tt3453052/?ref_=fn_t...,1.0,10.0,314,NaN,2015.0
10 Things I Hate About You,23000.0,Joseph Gordon-Levitt,13000.0,Heath Ledger,835.0,Andrew Keegan,1.85,16000000.0,37907,Color,PG-13,USA,19.0,Gil Junger,97.0,6.0,Comedy|Drama|Romance,38176108.0,7.2,English,10000,http://www.imdb.com/title/tt0147800/?ref_=fn_t...,133.0,549.0,222099,dating|protective father|school|shrew|teen movie,1999.0
"10,000 B.C.",5.0,Mathew Buck,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN,NaN,NaN,0.0,Christopher Barnard,22.0,0.0,Comedy,NaN,7.2,NaN,0,http://www.imdb.com/title/tt1869849/?ref_=fn_t...,NaN,NaN,6,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
[Rec] 2,37.0,Jonathan D. Mellor,9.0,Pablo Rosso,6.0,Andrea Ros,1.85,5600000.0,73,Color,R,Spain,57.0,Jaume Balagueró,85.0,0.0,Horror,27024.0,6.6,Spanish,4000,http://www.imdb.com/title/tt1245112/?ref_=fn_t...,222.0,148.0,55597,apartment|apartment building|blood sample|cruc...,2009.0
eXistenZ,1000.0,Jennifer Jason Leigh,900.0,Sarah Polley,716.0,Callum Rennie,1.85,31000000.0,2990,Color,R,Canada,0.0,David Cronenberg,115.0,0.0,Horror|Sci-Fi|Thriller,2840417.0,6.8,English,6000,http://www.imdb.com/title/tt0120907/?ref_=fn_t...,196.0,527.0,77493,assassin|game|game designer|pod|virtual reality,1999.0
xXx,14000.0,Vin Diesel,223.0,Eve,212.0,Leila Arcieri,2.35,70000000.0,14790,Color,PG-13,USA,357.0,Rob Cohen,132.0,0.0,Action|Adventure|Thriller,141204016.0,5.8,English,10000,http://www.imdb.com/title/tt0295701/?ref_=fn_t...,191.0,737.0,142569,agent|nsa|nsa agent|prague|russian,2002.0
xXx: State of the Union,287.0,Sunny Mabrey,233.0,Nona Gaye,218.0,Xzibit,2.35,87000000.0,993,Color,PG-13,USA,93.0,Lee Tamahori,101.0,2.0,Action|Adventure|Crime|Thriller,26082914.0,4.3,English,0,http://www.imdb.com/title/tt0329774/?ref_=fn_t...,77.0,213.0,51349,coup d'etat|mutiny|president|u.s. navy|washing...,2005.0
Æon Flux,9000.0,Charlize Theron,460.0,Sophie Okonedo,352.0,Paterson Joseph,2.35,62000000.0,10185,Color,PG-13,USA,45.0,Karyn Kusama,93.0,0.0,Action|Sci-Fi,25857987.0,5.5,English,0,http://www.imdb.com/title/tt0402022/?ref_=fn_t...,178.0,532.0,110614,based on cult favorite|disease|female hero|fem...,2005.0

In [11]:
df.head(10)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,num_voted_users,cast_total_facebook_likes,actor_3_name,facenumber_in_poster,plot_keywords,movie_imdb_link,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,,,,,,,
Avatar,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,886204,4834,Wes Studi,0.0,avatar|future|marine|native|paraplegic,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,471220,48350,Jack Davenport,0.0,goddess|marriage ceremony|marriage proposal|pi...,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
Spectre,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,Christoph Waltz,275868,11700,Stephanie Sigman,1.0,bomb|espionage|sequel|spy|terrorist,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
The Dark Knight Rises,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,Tom Hardy,1144337,106759,Joseph Gordon-Levitt,0.0,deception|imprisonment|lawlessness|police offi...,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
Star Wars: Episode VII - The Force Awakens,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,Doug Walker,8,143,NaN,0.0,NaN,http://www.imdb.com/title/tt5289954/?ref_=fn_t...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
John Carter,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,Daryl Sabara,212204,1873,Polly Walker,1.0,alien|american civil war|male nipple|mars|prin...,http://www.imdb.com/title/tt0401729/?ref_=fn_t...,738.0,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000
Spider-Man 3,Color,Sam Raimi,392.0,156.0,0.0,4000.0,James Franco,24000.0,336530303.0,Action|Adventure|Romance,J.K. Simmons,383056,46055,Kirsten Dunst,0.0,sandman|spider man|symbiote|venom|villain,http://www.imdb.com/title/tt0413300/?ref_=fn_t...,1902.0,English,USA,PG-13,258000000.0,2007.0,11000.0,6.2,2.35,0
Tangled,Color,Nathan Greno,324.0,100.0,15.0,284.0,Donna Murphy,799.0,200807262.0,Adventure|Animation|Comedy|Family|Fantasy|Musi...,Brad Garrett,294810,2036,M.C. Gainey,1.0,17th century|based on fairy tale|disney|flower...,http://www.imdb.com/title/tt0398286/?ref_=fn_t...,387.0,English,USA,PG,260000000.0,2010.0,553.0,7.8,1.85,29000
Avengers: Age of Ultron,Color,Joss Whedon,635.0,141.0,0.0,19000.0,Robert Downey Jr.,26000.0,458991599.0,Action|Adventure|Sci-Fi,Chris Hemsworth,462669,92000,Scarlett Johansson,4.0,artificial intelligence|based on comic book|ca...,http://www.imdb.com/title/tt2395427/?ref_=fn_t...,1117.0,English,USA,PG-13,250000000.0,2015.0,21000.0,7.5,2.35,118000
Harry Potter and the Half-Blood Prince,Color,David Yates,375.0,153.0,282.0,10000.0,Daniel Radcliffe,25000.0,301956980.0,Adventure|Family|Fantasy|Mystery,Alan Rickman,321795,58753,Rupert Grint,3.0,blood|book|love|potion|professor,http://www.imdb.com/title/tt0417741/?ref_=fn_t...,973.0,English,UK,PG,250000000.0,2009.0,11000.0,7.5,2.35,10000

In [12]:
df.loc['Avatar':'John Carter']

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,num_voted_users,cast_total_facebook_likes,actor_3_name,facenumber_in_poster,plot_keywords,movie_imdb_link,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,,,,,,,
Avatar,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,886204,4834,Wes Studi,0.0,avatar|future|marine|native|paraplegic,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,471220,48350,Jack Davenport,0.0,goddess|marriage ceremony|marriage proposal|pi...,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
Spectre,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,Christoph Waltz,275868,11700,Stephanie Sigman,1.0,bomb|espionage|sequel|spy|terrorist,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
The Dark Knight Rises,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,Tom Hardy,1144337,106759,Joseph Gordon-Levitt,0.0,deception|imprisonment|lawlessness|police offi...,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
Star Wars: Episode VII - The Force Awakens,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,Doug Walker,8,143,NaN,0.0,NaN,http://www.imdb.com/title/tt5289954/?ref_=fn_t...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
John Carter,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,Daryl Sabara,212204,1873,Polly Walker,1.0,alien|american civil war|male nipple|mars|prin...,http://www.imdb.com/title/tt0401729/?ref_=fn_t...,738.0,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000

In [15]:
df2 = df.sort_index() # 행 정렬
df2.loc['A':'Jb']     # A ~ J 전까지

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,num_voted_users,cast_total_facebook_likes,actor_3_name,facenumber_in_poster,plot_keywords,movie_imdb_link,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,,,,,,,
A Beautiful Mind,Color,Ron Howard,205.0,135.0,2000.0,535.0,Austin Pendleton,1000.0,170708996.0,Biography|Drama,Adam Goldberg,610568,2827,Judd Hirsch,0.0,conspiracy|cryptography|mathematician|mental i...,http://www.imdb.com/title/tt0268978/?ref_=fn_t...,1171.0,English,USA,PG-13,58000000.0,2001.0,592.0,8.2,1.85,29000
A Beginner's Guide to Snuff,Color,Mitchell Altieri,NaN,87.0,9.0,165.0,Luke Edwards,467.0,NaN,Comedy|Horror|Thriller,Kimberley Crossman,13,1270,Bree Williamson,0.0,NaN,http://www.imdb.com/title/tt4058122/?ref_=fn_t...,NaN,English,USA,NaN,NaN,2016.0,258.0,8.7,NaN,8
A Better Life,Color,Chris Weitz,94.0,98.0,129.0,221.0,Eddie 'Piolin' Sotelo,749.0,1754319.0,Drama|Romance,Demián Bichir,13174,2214,Robert Peters,0.0,gang|gardener|money|police|truck,http://www.imdb.com/title/tt1554091/?ref_=fn_t...,81.0,English,USA,PG-13,10000000.0,2011.0,252.0,7.2,1.85,0
A Bridge Too Far,Black and White,Richard Attenborough,56.0,175.0,0.0,14.0,Dirk Bogarde,385.0,50800000.0,Drama|History|War,Ryan O'Neal,40277,669,Wolfgang Preiss,14.0,airborne troops|allies|operation market garden...,http://www.imdb.com/title/tt0075784/?ref_=fn_t...,210.0,English,USA,PG,26000000.0,1977.0,232.0,7.4,2.35,0
A Bug's Life,Color,John Lasseter,117.0,95.0,487.0,1000.0,Madeline Kahn,18000.0,162792677.0,Adventure|Animation|Comedy|Family|Fantasy,Kevin Spacey,211226,24205,John Ratzenberger,0.0,ant|circus|grasshopper|misunderstanding|overhe...,http://www.imdb.com/title/tt0120623/?ref_=fn_t...,317.0,English,USA,G,120000000.0,1998.0,1000.0,7.2,2.35,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Jawbreaker,Color,Darren Stein,49.0,87.0,18.0,844.0,Judy Greer,3000.0,3071947.0,Comedy|Crime|Thriller,Julie Benz,18711,9555,Jeff Conaway,3.0,best friend|bitch|friend|popular girl|prom,http://www.imdb.com/title/tt0155776/?ref_=fn_t...,183.0,English,USA,R,3500000.0,1999.0,2000.0,5.4,1.85,0
Jaws,Color,Steven Spielberg,385.0,130.0,14000.0,366.0,Robert Shaw,813.0,260000000.0,Adventure|Drama|Thriller,Roy Scheider,412454,2047,Murray Hamilton,0.0,beach|blockbuster|fishing|great white shark|shark,http://www.imdb.com/title/tt0073195/?ref_=fn_t...,962.0,English,USA,PG,8000000.0,1975.0,559.0,8.0,2.35,21000
Jaws 2,Color,Jeannot Szwarc,75.0,131.0,82.0,85.0,Murray Hamilton,813.0,102922376.0,Adventure|Horror|Thriller,Roy Scheider,51314,1520,Joseph Mascolo,0.0,great white shark|island|mayor|police chief|shark,http://www.imdb.com/title/tt0077766/?ref_=fn_t...,265.0,English,USA,PG,20000000.0,1978.0,366.0,5.7,2.35,0
Jaws: The Revenge,Color,Joseph Sargent,80.0,92.0,114.0,434.0,Mario Van Peebles,912.0,20763013.0,Adventure|Horror|Thriller,Judith Barsi,30840,2355,Lynn Whitfield,0.0,banana boat|boat|christmas|sea|shark,http://www.imdb.com/title/tt0093300/?ref_=fn_t...,383.0,English,USA,PG-13,23000000.0,1987.0,535.0,2.8,2.35,0
Jay and Silent Bob Strike Back,Color,Kevin Smith,181.0,104.0,0.0,898.0,Shannon Elizabeth,8000.0,30059386.0,Comedy,Will Ferrell,128593,11632,Jason Mewes,5.0,internet|jay and silent bob|new jersey|orangut...,http://www.imdb.com/title/tt0261392/?ref_=fn_t...,867.0,English,USA,R,22000000.0,2001.0,1000.0,6.9,2.35,0

## 특정 컬럼(열)의 값을 기준으로 정렬

-   <b style='font-size:1.2em'>sort_values(by, ascending, inplace)</b>
    -   by
        -   **정렬 기준 컬럼이름**을 문자열로 지정
        -   여러 컬럼에 대해 정렬할 경우 리스트에 담아 전달
    -   ascending
        -   정렬방식
        -   True(기본): 오름차순, False: 내림차순
        -   여러 컬럼에 대해 정렬할 경우 정렬방식도 리스트에 담아 전달
    -   inplace
        -   원본에 적용 여부
        -   False(기본): 변경한 복사본 반환
        -   True : 원본을 변경
    -   결측치는 방식과 상관없이 마지막에 나온다.

In [16]:
df.sort_values(by="duration").head(10)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,num_voted_users,cast_total_facebook_likes,actor_3_name,facenumber_in_poster,plot_keywords,movie_imdb_link,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,,,,,,,
The Touch,Color,Jane Clark,NaN,7.0,23.0,51.0,Traci Dinwiddie,344.0,NaN,Romance|Short,Necar Zadegan,118,726,Elea Oberon,0.0,lesbian|paris france|period piece|poem|poetess,http://www.imdb.com/title/tt1128219/?ref_=fn_t...,NaN,English,USA,NaN,13000.0,2007.0,281.0,5.2,1.85,30
Shaun the Sheep,Color,NaN,12.0,7.0,NaN,3.0,John Sparkes,45.0,NaN,Animation|Comedy|Family,Justin Fletcher,7968,55,Kate Harbour,0.0,farmer|mischief|no dialog|sheep|sheepdog,http://www.imdb.com/title/tt0983983/?ref_=fn_t...,12.0,English,UK,TV-G,NaN,NaN,7.0,8.3,NaN,834
Robot Chicken,Color,NaN,38.0,11.0,NaN,0.0,Seth Green,11.0,NaN,Animation|Comedy,Matthew Senreich,32923,11,Breckin Meyer,0.0,celebrity|robot|satire|sketch comedy|stop moti...,http://www.imdb.com/title/tt0437745/?ref_=fn_t...,75.0,English,USA,TV-MA,NaN,NaN,0.0,7.8,1.33,1000
Vessel,Color,Clark Baker,1.0,14.0,0.0,37.0,Alan Pietruszewski,134.0,NaN,Horror|Sci-Fi|Short|Thriller,Taylor Pigeon,292,315,Whit Spurgeon,1.0,alien|flight attendant|monster|pilot|tentacle,http://www.imdb.com/title/tt2164708/?ref_=fn_t...,3.0,English,USA,NaN,NaN,2012.0,93.0,6.2,NaN,14
Wal-Mart: The High Cost of Low Price,Color,Robert Greenwald,56.0,20.0,21.0,0.0,Jon Hunter,0.0,NaN,Documentary,Lee Scott,4120,0,Matt Hunter,0.0,greed|pollution|slave labor|truth|wal mart,http://www.imdb.com/title/tt0473107/?ref_=fn_t...,70.0,English,USA,Not Rated,1500000.0,2005.0,0.0,6.8,1.85,0
"Sabrina, the Teenage Witch",Color,NaN,20.0,22.0,NaN,271.0,Soleil Moon Frye,870.0,NaN,Comedy|Family|Fantasy,Nate Richert,24420,2433,Caroline Rhea,1.0,female protagonist|hereditary gift of witchcra...,http://www.imdb.com/title/tt0115341/?ref_=fn_t...,94.0,English,USA,TV-G,3000000.0,NaN,558.0,6.6,1.33,990
Anger Management,Color,NaN,26.0,22.0,NaN,676.0,Noureen DeWulf,883.0,NaN,Comedy|Romance,Barry Corbin,26992,4115,Brian Austin Green,1.0,anger management|argument|irony|sarcasm|therapist,http://www.imdb.com/title/tt1986770/?ref_=fn_t...,54.0,English,USA,NaN,NaN,NaN,701.0,6.7,16.00,0
It's Always Sunny in Philadelphia,Color,NaN,79.0,22.0,NaN,424.0,Kaitlin Olson,813.0,NaN,Comedy,Rob McElhenney,133415,1784,Glenn Howerton,5.0,alcohol|bad taste humour|crude humor|loser|sel...,http://www.imdb.com/title/tt0472954/?ref_=fn_t...,151.0,English,USA,TV-MA,NaN,NaN,547.0,8.8,1.33,0
Home Movies,Color,NaN,11.0,22.0,NaN,6.0,Ron Lynch,59.0,NaN,Animation|Comedy|Drama,Brendon Small,7458,81,Melissa Bardin Galsky,0.0,coach|friend|school|series|tv series,http://www.imdb.com/title/tt0197159/?ref_=fn_t...,82.0,English,USA,TV-PG,NaN,NaN,11.0,8.2,1.33,526
"10,000 B.C.",NaN,Christopher Barnard,NaN,22.0,0.0,NaN,NaN,5.0,NaN,Comedy,Mathew Buck,6,5,NaN,0.0,NaN,http://www.imdb.com/title/tt1869849/?ref_=fn_t...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.2,NaN,0

In [17]:
df.sort_values('director_name', ascending=False).head(10)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,num_voted_users,cast_total_facebook_likes,actor_3_name,facenumber_in_poster,plot_keywords,movie_imdb_link,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,,,,,,,
Bizarre,Color,Étienne Faure,9.0,98.0,77.0,0.0,Pierre Prieur,19.0,NaN,Drama|Musical|Romance,Rumi Missabu,569,19,Raquel Nave,0.0,full frontal nudity|group shower|male full fro...,http://www.imdb.com/title/tt3904272/?ref_=fn_t...,1.0,English,France,Unrated,500000.0,2015.0,0.0,4.3,1.78,114
Sur le seuil,Color,Éric Tessier,9.0,99.0,0.0,6.0,Michel Côté,50.0,NaN,Action|Drama|Horror|Thriller,Patrick Huard,1003,79,Jean Pierre Bergeron,0.0,canadian gothic|hospital|murder|paranormal|sup...,http://www.imdb.com/title/tt0380732/?ref_=fn_t...,5.0,French,Canada,NaN,3200000.0,2003.0,16.0,6.6,1.85,39
Mambo Italiano,Color,Émile Gaudreault,67.0,92.0,9.0,71.0,Luke Kirby,636.0,6239558.0,Comedy|Drama,Paul Sorvino,5548,1033,Claudia Ferri,0.0,gay|immigrant|italian|police|police officer,http://www.imdb.com/title/tt0330602/?ref_=fn_t...,67.0,English,Canada,R,5000000.0,2003.0,210.0,6.7,1.85,352
The Oxford Murders,Color,Álex de la Iglesia,71.0,104.0,275.0,102.0,Leonor Watling,439.0,3607.0,Crime|Mystery|Thriller,Jim Carter,22753,940,Danny Sapani,4.0,landlady|lecture|murder|oxford university|symbol,http://www.imdb.com/title/tt0488604/?ref_=fn_t...,94.0,English,Spain,R,10000000.0,2008.0,161.0,6.1,2.35,0
Along the Roadside,Color,Zoran Lisinac,17.0,108.0,0.0,142.0,Brock Baker,431.0,NaN,Comedy|Music|Romance,Matthew Emerick,330,1087,Sheldon Bailey,3.0,NaN,http://www.imdb.com/title/tt2290113/?ref_=fn_t...,2.0,English,USA,NaN,250000.0,2013.0,297.0,7.1,1.85,231
The East,Color,Zal Batmanglij,200.0,116.0,129.0,782.0,Julia Ormond,10000.0,2268296.0,Drama|Thriller,Alexander Skarsgård,41856,13180,Jason Ritter,4.0,anarchist|corporation|greedy institution|vomit...,http://www.imdb.com/title/tt1869716/?ref_=fn_t...,119.0,English,UK,PG-13,6500000.0,2013.0,918.0,6.9,2.35,12000
Sound of My Voice,Color,Zal Batmanglij,136.0,85.0,129.0,100.0,James Urbaniak,120.0,405614.0,Drama|Mystery|Sci-Fi|Thriller,Christopher Denham,15775,511,Constance Wu,0.0,cult|cult leader|female nudity|greedy institut...,http://www.imdb.com/title/tt1748207/?ref_=fn_t...,69.0,English,USA,R,NaN,2011.0,119.0,6.7,1.85,0
Incident at Loch Ness,Color,Zak Penn,60.0,94.0,87.0,37.0,Gabriel Beristain,87.0,36830.0,Adventure|Comedy|Horror,Zak Penn,3291,256,John Bailey,0.0,boat|director|loch ness|loch ness monster|monster,http://www.imdb.com/title/tt0374639/?ref_=fn_t...,63.0,English,UK,PG-13,1400000.0,2004.0,70.0,6.6,1.85,400
The Rise of the Krays,NaN,Zackary Adler,10.0,110.0,0.0,109.0,Kevin Leslie,490.0,NaN,Crime|Drama,Simon Merrells,1510,881,Kris Sommerville,0.0,NaN,http://www.imdb.com/title/tt2945796/?ref_=fn_t...,26.0,English,UK,R,2500000.0,2015.0,159.0,5.0,NaN,0
Restoration,Color,Zack Ward,15.0,92.0,662.0,161.0,Anna Harr,662.0,NaN,Horror,Zack Ward,436,1498,James Cullen Bressack,0.0,NaN,http://www.imdb.com/title/tt4517738/?ref_=fn_t...,6.0,English,USA,NaN,NaN,2016.0,290.0,4.0,NaN,378

In [18]:
df.sort_values(by=["duration", "movie_facebook_likes"])[["duration", "movie_facebook_likes"]].head()

                                      duration  movie_facebook_likes
movie_title
The Touch                                  7.0                    30
Shaun the Sheep                            7.0                   834
Robot Chicken                             11.0                  1000
Vessel                                    14.0                    14
Wal-Mart: The High Cost of Low Price      20.0                     0

In [19]:
df.sort_values(by=["duration", "movie_facebook_likes"], ascending=[True, False])[["duration", "movie_facebook_likes"]].head(5)

                                      duration  movie_facebook_likes
movie_title
Shaun the Sheep                            7.0                   834
The Touch                                  7.0                    30
Robot Chicken                             11.0                  1000
Vessel                                    14.0                    14
Wal-Mart: The High Cost of Low Price      20.0                     0

In [24]:
result_df = df.query('duration > 250').sort_values("duration",ascending=False)[['duration','director_name']]
result_df

                             duration         director_name
movie_title
Trapped                         511.0                   NaN
Carlos                          334.0                   NaN
Blood In, Blood Out             330.0       Taylor Hackford
Heaven's Gate                   325.0        Michael Cimino
The Legend of Suriyothai        300.0   Chatrichalerm Yukol
Das Boot                        293.0     Wolfgang Petersen
Apocalypse Now                  289.0  Francis Ford Coppola
The Company                     286.0                   NaN
Gods and Generals               280.0           Ron Maxwell
Gettysburg                      271.0           Ron Maxwell
Arn: The Knight Templar         270.0          Peter Flinth
Cleopatra                       251.0  Joseph L. Mankiewicz
Once Upon a Time in America     251.0          Sergio Leone

# flights.csv (항공기 운항 기록 데이터)

-   MONTH : 비행 월
-   DAY : 비행 일
-   WEEKDAY : 비행 요일 - 1(월요일)~7(일요일)
-   AIRLINE : 항공사 코드
-   ORG_AIR : 출발공항
-   DEST_AIR : 도착공항
-   SCHED_DEP : 출발예정시각
-   DEP_DELAY : 출발지연시간(분)
-   AIR_TIME : 비행시간(분)
-   DIST : 비행거리(마일)
-   SCHED_ARR : 도착예정시각
-   ARR_DELAY : 도착지연시간(분)
-   DIVERTED : 회항여부(1: True, 0: False)
-   CANCELLED : 취소여부(1: True, 0: False)

In [28]:
import pandas as pd
import numpy as np

df = pd.read_csv("data/flights.csv")
df.shape

(58492, 14)

In [29]:
df.head()

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
0,1,1,4,WN,LAX,SLC,1625,58.0,94.0,590,1905,65.0,0,0
1,1,1,4,UA,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
2,1,1,4,MQ,DFW,VPS,1305,36.0,85.0,641,1453,35.0,0,0
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
4,1,1,4,WN,LAX,MCI,1720,48.0,166.0,1363,2225,39.0,0,0

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58492 entries, 0 to 58491
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   MONTH      58492 non-null  int64
 1   DAY        58492 non-null  int64
 2   WEEKDAY    58492 non-null  int64
 3   AIRLINE    58492 non-null  object
 4   ORG_AIR    58492 non-null  object
 5   DEST_AIR   58492 non-null  object
 6   SCHED_DEP  58492 non-null  int64
 7   DEP_DELAY  57659 non-null  float64
 8   AIR_TIME   57474 non-null  float64
 9   DIST       58492 non-null  int64
 10  SCHED_ARR  58492 non-null  int64
 11  ARR_DELAY  57474 non-null  float64
 12  DIVERTED   58492 non-null  int64
 13  CANCELLED  58492 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 6.2+ MB

In [31]:
df['DIVERTED'].value_counts()

DIVERTED
0    58355
1      137
Name: count, dtype: int64

In [33]:
df['CANCELLED'].value_counts()

CANCELLED
0    57611
1      881
Name: count, dtype: int64

In [34]:
df['AIRLINE'].value_counts()

AIRLINE
DL    10601
AA     8900
WN     8418
UA     7792
OO     6588
EV     5858
MQ     3471
US     1615
NK     1516
F9     1317
VX      993
AS      768
B6      543
HA      112
Name: count, dtype: int64

# 기술통계 메소드들을 이용한 데이터 집계

## 주요 기술통계 메소드

| 함수           | 설명                      |
| -------------- | ------------------------- |
| **sum()**      | 합계                      |
| **mean()**     | 평균                      |
| **median()**   | 중위수                    |
| **mode()**     | 최빈값                    |
| **quantile()** | 분위수                    |
| **std()**      | 표준편차                  |
| **var()**      | 분산                      |
| **count()**    | 결측치를 제외한 원소 개수 |
| **min()**      | 최소값                    |
| **max()**      | 최대값                    |
| **idxmax()**   | 최대값 index              |
| **idxmin()**   | 최소값 index              |
| **unique()**   | 고유값                    |
| **nunique()**  | 고유값의 개수             |

<center><b style='font-size:1.2em'>cf) value_counts()는 Series에만 사용할 수 있다.</b></center>

-   **공통 매개변수**
    -   skipna=True(기본값)
        -   결측치(NA)를 포함해서 계산할지 여부 설정.
        -   True가 기본값으로 결측치(NA)를 제외하고 처리한다.
        -   결측치 제외하지 않으려면 skipna=False로 설정하는데 결측치가 있으면 결과는 결측치가 된다.
    -   axis
        -   DataFrame에 적용할 때 계산방향을 설정
            -   0 또는 'index' (기본값): 컬럼 방향으로 집계
            -   1 또는 'columns': 행 방향으로 집계

In [35]:
# DF에 문자열/수치형 컬럼이 섞여 있고 수치형과 관련된 집계를 할 경우 
#          numeric_only=True로 설정(default: False)
df.mean(numeric_only=True)

MONTH           6.220646
DAY            15.702096
WEEKDAY         3.926862
SCHED_DEP    1387.984836
DEP_DELAY      10.921192
AIR_TIME      115.928576
DIST          872.900072
SCHED_ARR    1549.399832
ARR_DELAY       5.812315
DIVERTED        0.002342
CANCELLED       0.015062
dtype: float64

In [36]:
df.sum(numeric_only=True)

MONTH          363858.0
DAY            918447.0
WEEKDAY        229690.0
SCHED_DEP    81186009.0
DEP_DELAY      629705.0
AIR_TIME      6662879.0
DIST         51057671.0
SCHED_ARR    90627495.0
ARR_DELAY      334057.0
DIVERTED          137.0
CANCELLED         881.0
dtype: float64

In [37]:
df.mean(numeric_only=True, skipna=False) # 결측치를 빼지 않고 계산. 결측치(NaN)가 있으면 결과는 결측치

MONTH           6.220646
DAY            15.702096
WEEKDAY         3.926862
SCHED_DEP    1387.984836
DEP_DELAY            NaN
AIR_TIME             NaN
DIST          872.900072
SCHED_ARR    1549.399832
ARR_DELAY            NaN
DIVERTED        0.002342
CANCELLED       0.015062
dtype: float64

In [38]:
df.isnull().sum()

MONTH           0
DAY             0
WEEKDAY         0
AIRLINE         0
ORG_AIR         0
DEST_AIR        0
SCHED_DEP       0
DEP_DELAY     833
AIR_TIME     1018
DIST            0
SCHED_ARR       0
ARR_DELAY    1018
DIVERTED        0
CANCELLED       0
dtype: int64

In [39]:
df.max()

MONTH            12
DAY              31
WEEKDAY           7
AIRLINE          WN
ORG_AIR         SFO
DEST_AIR        YUM
SCHED_DEP      2359
DEP_DELAY    1194.0
AIR_TIME      577.0
DIST           4502
SCHED_ARR      2359
ARR_DELAY    1185.0
DIVERTED          1
CANCELLED         1
dtype: object

In [40]:
df.idxmax()

MONTH        53361
DAY           4886
WEEKDAY        489
AIRLINE          0
ORG_AIR          7
DEST_AIR       658
SCHED_DEP      127
DEP_DELAY    58188
AIR_TIME     57423
DIST          2082
SCHED_ARR      120
ARR_DELAY    58188
DIVERTED       580
CANCELLED       24
dtype: int64

## aggregate(func, axis=0, \*args, \*\*kwargs) 또는 agg(func, axis=0, \*args, \*\*kwargs)

-   DataFrame, Series의 메소드로 **집계결과를 다양한 형태로 모아서 한번에 확인 할 때** 사용한다.
    -   **사용자 정의 집계메소드를 사용할 때도 편리하다.**
-   **매개변수**
    -   func
        -   집계 함수 지정
            1. 함수명/함수리스트 (문자열)
                - 판다스 제공 집계메소드들은 문자열로, 사용자정의 집계함수는 함수 객체로 전달
            2. Dictionary : {'집계할컬럼' : 집계함수, ... }
                - 컬럼별로 다른 집계를 할 경우
    -   axis
        -   DataFrame에 적용할 때 0 방향으로 계산할 지 1 방향으로 계산할지 설정
            -   0 또는 'index' (기본값): 컬럼 방향으로 집계
            -   1 또는 'columns': 행 방향으로 집계
    -   \*args, \*\*kwargs
        -   함수에 전달할 매개변수.
        -   집계함수는 첫번째 매개변수로 Series(컬럼 또는 행)를 받는다. 그 이외의 파라미터가 있는 있는 경우 가변인자로 전달한다.

In [41]:
df['ARR_DELAY'].min(), df['ARR_DELAY'].max()

(np.float64(-60.0), np.float64(1185.0))

In [42]:
# 여러 집계함수 호출 -> 리스트에 담아 전달
# 판다스의 집계함수 -> 문자열.
df['ARR_DELAY'].aggregate(['min','max'])

min     -60.0
max    1185.0
Name: ARR_DELAY, dtype: float64

In [43]:
df[['DEP_DELAY','ARR_DELAY']].aggregate(['mean','std'])

      DEP_DELAY  ARR_DELAY
mean  10.921192   5.812315
std   36.146210  38.411948

In [44]:
df[['DEP_DELAY', 'ARR_DELAY']].agg(['mean', 'std'])

      DEP_DELAY  ARR_DELAY
mean  10.921192   5.812315
std   36.146210  38.411948

In [45]:
# number: 수치형 -> 정수/실수
df.select_dtypes(include="number").agg(['mean','std']).T

                  mean         std
MONTH         6.220646    3.358484
DAY          15.702096    8.760846
WEEKDAY       3.926862    1.995777
SCHED_DEP  1387.984836  482.810792
DEP_DELAY    10.921192   36.146210
AIR_TIME    115.928576   71.679591
DIST        872.900072  624.996805
SCHED_ARR  1549.399832  518.599952
ARR_DELAY     5.812315   38.411948
DIVERTED      0.002342    0.048340
CANCELLED     0.015062    0.121800

In [46]:
# 컬럼별로 다른 집계: key: 집계할 컬럼명, value: 집계 함수
d = {
    "DEP_DELAY":"mean",
    "ARR_DELAY":"max"
}
df.agg(d)

DEP_DELAY      10.921192
ARR_DELAY    1185.000000
dtype: float64

In [47]:
d = {
    "DEP_DELAY":["mean", "std"],
    "ARR_DELAY":["min", "max"]
}
df.agg(d)

      DEP_DELAY  ARR_DELAY
mean  10.921192        NaN
std   36.146210        NaN
min         NaN      -60.0
max         NaN     1185.0

# Groupby

-   특정 열을 기준으로 같은 값을 가지는 행끼리 묶어서 group화 한다.
-   **~~ 별 집계를 할 때** 사용한다. (성별, 직급별, 등급별 ...)
    -   Group으로 묶을 기준 열은 범주형타입(category)을 사용한다.
-   **구문**
    -   `DF.groupby('그룹으로묶을기준컬럼')`
        -   DataFrameGroupby 객체를 반환한다.
        -   DataFrameGroupby 객체는 어떤 행끼리 묶여있는지 정보를 가진다. 이 객체의 집계함수를 사용하면 그룹별 집계를 할 수 있다.
            -   `DataFrameGroupby객체['집계할 컬럼'].집계함수()`
        -   groupby에 여러개의 컬럼을 기준으로 나눌 경우 리스트에 묶어서 전달한다.
        -   집계할 컬럼이 여러개인 경우 리스트로 묶어준다.
    -   집계함수
        -   기술통계 함수들
        -   agg()/aggregate()
            -   여러 다른 집계함수 호출시(여러 집계를 같이 볼경우)
            -   사용자정의 집계함수 호출시
            -   컬럼별로 다른 집계함수들을 호출할 경우

In [48]:
df.columns

Index(['MONTH', 'DAY', 'WEEKDAY', 'AIRLINE', 'ORG_AIR', 'DEST_AIR',
       'SCHED_DEP', 'DEP_DELAY', 'AIR_TIME', 'DIST', 'SCHED_ARR', 'ARR_DELAY',
       'DIVERTED', 'CANCELLED'],
      dtype='object')

In [49]:
g = df.groupby("AIRLINE")
type(g)

pandas.core.groupby.generic.DataFrameGroupBy

In [50]:
df.AIRLINE.unique()

array(['WN', 'UA', 'MQ', 'AA', 'F9', 'EV', 'OO', 'NK', 'US', 'AS', 'DL',
       'VX', 'B6', 'HA'], dtype=object)

In [52]:
g.groups

{'AA': [3, 6, 8, 15, 26, 32, 33, 36, 37, 41, 46, 47, 48, 55, 62, 66, 73, 75, 76, 87, 89, 97, 98, 107, 120, 122, 128, 131, 133, 146, 160, 171, 174, 178, 179, 188, 200, 201, 206, 221, 267, 270, 279, 305, 309, 311, 321, 330, 332, 342, 343, 347, 348, 380, 381, 382, 390, 393, 398, 402, 404, 405, 419, 427, 430, 431, 441, 449, 451, 455, 457, 466, 476, 491, 493, 497, 509, 514, 521, 527, 528, 537, 550, 551, 556, 560, 568, 572, 587, 589, 592, 612, 613, 618, 624, 626, 628, 634, 640, 652, ...], 'AS': [38, 198, 241, 277, 397, 450, 453, 500, 518, 591, 718, 737, 741, 808, 820, 867, 872, 1005, 1106, 1146, 1292, 1437, 1530, 1559, 1609, 1636, 1747, 1786, 1810, 1826, 1892, 1921, 2010, 2151, 2269, 2446, 2526, 2576, 2586, 2941, 3112, 3125, 3171, 3176, 3413, 3483, 3494, 3596, 3678, 3734, 3891, 3910, 3937, 3989, 4099, 4128, 4326, 4397, 4432, 4587, 4743, 4799, 4841, 4850, 4912, 4987, 5099, 5154, 5176, 5254, 5261, 5297, 5356, 5372, 5496, 5667, 5685, 5688, 5877, 5976, 6016, 6079, 6122, 6245, 6255, 6393, 6529, 6816, 6824, 6861, 6945, 6988, 7065, 7150, 7153, 7196, 7225, 7235, 7389, 7478, ...], 'B6': [123, 127, 239, 333, 548, 549, 696, 757, 945, 1175, 1361, 1453, 1547, 1561, 1564, 1650, 1670, 1691, 1800, 1939, 1998, 2251, 2253, 2256, 2330, 2385, 2434, 2607, 2650, 2692, 2721, 2781, 2800, 2884, 2936, 3060, 3306, 3648, 3793, 3983, 4347, 4552, 4578, 4639, 4779, 4820, 4885, 5036, 5125, 5131, 5205, 5211, 5228, 5260, 5351, 5483, 5577, 5585, 5777, 5956, 6126, 6151, 6418, 6901, 6952, 6977, 7792, 7798, 7853, 7877, 7904, 8030, 8082, 8091, 8118, 8145, 8177, 8364, 8507, 8541, 8543, 8558, 8732, 8828, 8912, 9093, 9173, 9275, 9371, 9389, 9447, 9482, 9574, 9686, 9896, 10066, 10254, 10416, 10600, 10727, ...], 'DL': [53, 57, 77, 79, 85, 90, 91, 101, 116, 117, 121, 129, 130, 137, 142, 152, 154, 155, 158, 159, 162, 165, 169, 172, 181, 182, 184, 185, 189, 190, 204, 207, 211, 215, 216, 222, 235, 238, 244, 245, 248, 249, 250, 253, 254, 258, 286, 289, 304, 307, 308, 310, 313, 323, 326, 328, 329, 336, 353, 354, 364, 373, 385, 395, 407, 411, 412, 413, 420, 433, 435, 439, 445, 456, 468, 481, 485, 490, 492, 508, 517, 526, 529, 531, 535, 543, 546, 559, 570, 579, 584, 588, 593, 602, 606, 607, 616, 617, 631, 642, ...], 'EV': [11, 13, 29, 40, 69, 100, 106, 118, 136, 143, 147, 164, 167, 170, 194, 196, 199, 205, 208, 219, 220, 225, 231, 233, 236, 251, 252, 261, 264, 265, 268, 282, 291, 293, 298, 312, 319, 337, 352, 362, 363, 369, 371, 383, 403, 414, 415, 424, 429, 437, 442, 443, 459, 460, 465, 470, 495, 499, 503, 505, 506, 522, 525, 530, 541, 567, 574, 580, 583, 632, 645, 654, 659, 677, 683, 689, 693, 695, 697, 714, 721, 723, 725, 730, 740, 742, 761, 764, 765, 768, 772, 776, 777, 778, 785, 787, 790, 791, 794, 799, ...], 'F9': [7, 93, 209, 232, 247, 290, 301, 386, 444, 483, 553, 563, 596, 598, 599, 605, 665, 685, 738, 844, 870, 948, 985, 1103, 1167, 1181, 1264, 1374, 1382, 1407, 1421, 1435, 1489, 1590, 1611, 1697, 1746, 1760, 1775, 1776, 1807, 1830, 1925, 1962, 2014, 2036, 2069, 2078, 2111, 2125, 2208, 2335, 2405, 2515, 2557, 2579, 2600, 2683, 2693, 2708, 2731, 2733, 2805, 2853, 2861, 3024, 3241, 3288, 3374, 3382, 3395, 3418, 3555, 3570, 3575, 3628, 3638, 3716, 3735, 3777, 3843, 3923, 3962, 3977, 4016, 4031, 4046, 4069, 4111, 4151, 4172, 4287, 4356, 4371, 4420, 4469, 4542, 4641, 4671, 4720, ...], 'HA': [582, 712, 878, 1053, 1269, 1345, 1544, 1864, 2316, 2644, 2681, 3002, 3165, 3227, 4359, 4414, 4926, 5187, 5281, 5320, 5363, 7267, 7372, 7744, 7808, 9360, 9761, 10163, 11119, 11626, 11743, 11809, 12275, 12752, 12780, 13466, 13755, 13956, 14566, 15064, 15316, 15959, 16501, 17632, 18467, 18720, 20461, 21558, 21761, 22454, 22584, 22592, 22618, 22858, 22892, 23177, 23374, 23773, 25763, 26127, 27745, 28864, 29608, 29762, 29875, 30610, 31164, 31505, 31530, 31675, 32030, 32037, 32987, 33311, 33747, 34884, 35959, 36068, 36319, 36425, 37119, 37128, 37664, 37983, 38440, 39475, 39482, 39625, 41664, 42165, 42485, 42846, 44068, 45330, 46713, 47772, 48279, 48722, 49667, 49782, ...], 'MQ': [2, 10, 18, 24, 50, 60, 71, 78, 81, 103, 105, 115, 125, 149, 180, 187, 210, 214, 228, 285, 296, 314, 320, 334, 335, 339, 341, 357, 458, 472, 484, 486, 488, 502, 516, 524, 534, 547, 581, 601, 622, 638, 639, 646, 661, 707, 711, 722, 727, 751, 769, 774, 802, 805, 830, 851, 854, 856, 865, 876, 915, 939, 955, 968, 977, 980, 1002, 1006, 1036, 1085, 1087, 1104, 1113, 1150, 1158, 1163, 1168, 1169, 1204, 1229, 1231, 1234, 1238, 1246, 1287, 1296, 1303, 1306, 1328, 1329, 1336, 1393, 1398, 1410, 1423, 1428, 1436, 1448, 1449, 1454, ...], 'NK': [17, 74, 95, 109, 166, 345, 358, 401, 434, 436, 446, 452, 482, 507, 510, 519, 533, 544, 610, 615, 620, 729, 735, 845, 858, 887, 898, 916, 970, 1017, 1095, 1097, 1153, 1188, 1208, 1257, 1342, 1392, 1536, 1579, 1580, 1657, 1732, 1761, 1863, 1943, 1948, 1990, 2026, 2068, 2071, 2118, 2124, 2149, 2177, 2196, 2214, 2244, 2299, 2334, 2378, 2424, 2425, 2447, 2523, 2537, 2592, 2613, 2639, 2643, 2740, 2749, 2752, 2764, 2765, 2770, 2786, 2875, 2886, 3018, 3061, 3065, 3072, 3151, 3153, 3174, 3248, 3315, 3381, 3435, 3566, 3598, 3674, 3696, 3701, 3708, 3840, 3877, 3894, 3934, ...], 'OO': [12, 16, 22, 25, 27, 34, 39, 42, 51, 52, 54, 58, 61, 63, 65, 82, 86, 99, 102, 113, 124, 126, 135, 138, 139, 151, 157, 161, 168, 175, 213, 223, 237, 240, 242, 255, 257, 278, 281, 284, 288, 297, 315, 317, 318, 322, 324, 327, 331, 359, 361, 366, 367, 370, 376, 378, 379, 387, 392, 418, 421, 447, 448, 540, 552, 554, 565, 569, 576, 590, 600, 603, 604, 609, 625, 629, 637, 649, 653, 658, 660, 663, 666, 671, 672, 673, 676, 679, 681, 682, 684, 691, 692, 708, 734, 754, 755, 762, 789, 793, ...], 'UA': [1, 5, 9, 14, 21, 44, 45, 67, 70, 72, 94, 108, 110, 134, 140, 141, 144, 145, 163, 177, 183, 192, 197, 246, 260, 262, 263, 266, 269, 273, 275, 283, 295, 325, 338, 340, 349, 368, 374, 375, 377, 389, 394, 396, 408, 423, 425, 438, 440, 462, 463, 469, 471, 474, 479, 501, 511, 512, 513, 520, 523, 536, 539, 542, 555, 557, 566, 573, 577, 586, 594, 595, 608, 621, 623, 630, 635, 636, 647, 650, 651, 667, 686, 687, 698, 699, 700, 701, 713, 717, 719, 745, 756, 773, 784, 801, 829, 836, 842, 843, ...], 'US': [31, 35, 49, 96, 104, 111, 112, 119, 148, 150, 153, 191, 202, 203, 224, 229, 355, 360, 372, 384, 391, 467, 473, 477, 478, 487, 494, 538, 545, 558, 561, 564, 575, 578, 619, 690, 715, 726, 728, 760, 795, 806, 881, 896, 901, 910, 954, 1028, 1033, 1068, 1134, 1135, 1143, 1155, 1164, 1201, 1210, 1245, 1274, 1288, 1290, 1291, 1335, 1355, 1377, 1399, 1406, 1446, 1459, 1462, 1470, 1471, 1476, 1481, 1493, 1499, 1503, 1552, 1554, 1565, 1589, 1593, 1603, 1661, 1680, 1716, 1731, 1733, 1735, 1743, 1749, 1754, 1755, 1758, 1767, 1773, 1790, 1821, 1904, 1905, ...], 'VX': [56, 227, 243, 417, 432, 464, 614, 641, 703, 759, 812, 825, 943, 1058, 1092, 1093, 1192, 1302, 1312, 1343, 1369, 1452, 1586, 1599, 1644, 1696, 1705, 1805, 1930, 1957, 2048, 2219, 2220, 2270, 2302, 2324, 2484, 2572, 2620, 2646, 2735, 2753, 2808, 2880, 2898, 2919, 3110, 3111, 3120, 3210, 3246, 3261, 3302, 3427, 3501, 3510, 3664, 3680, 3694, 3731, 3860, 3938, 3968, 4005, 4029, 4035, 4056, 4088, 4270, 4351, 4531, 4536, 4540, 4692, 4712, 4728, 4746, 4825, 4856, 4860, 4869, 4876, 4890, 4901, 4928, 4994, 5075, 5078, 5115, 5143, 5167, 5206, 5245, 5265, 5379, 5383, 5413, 5502, 5512, 5522, ...], 'WN': [0, 4, 19, 20, 23, 28, 30, 43, 59, 64, 68, 80, 83, 84, 88, 92, 114, 132, 156, 173, 176, 186, 193, 195, 212, 217, 218, 226, 230, 234, 256, 259, 271, 272, 274, 276, 280, 287, 292, 294, 299, 300, 302, 303, 306, 316, 344, 346, 350, 351, 356, 365, 388, 399, 400, 406, 409, 410, 416, 422, 426, 428, 454, 461, 475, 480, 489, 496, 498, 504, 515, 532, 562, 571, 585, 597, 611, 627, 633, 648, 657, 669, 670, 674, 678, 710, 720, 724, 731, 744, 747, 752, 753, 788, 797, 804, 807, 813, 815, 817, ...]}

In [54]:
# 항공사별 출발 지연시간 평균
## DF.groupby(나눌컬럼)[집계할 컬럼].집계함수
df.groupby("AIRLINE")["DEP_DELAY"].mean().sort_values(ascending=False)

AIRLINE
NK    19.514401
UA    16.210485
F9    14.310398
B6    14.287823
WN    12.639366
AA    11.274057
MQ    11.094323
OO     9.662279
EV     9.092625
VX     8.918946
DL     7.242450
US     4.361355
HA     2.571429
AS     1.808594
Name: DEP_DELAY, dtype: float64

In [55]:
df.groupby("AIRLINE")[['DEP_DELAY', 'ARR_DELAY']].mean()

         DEP_DELAY  ARR_DELAY
AIRLINE
AA       11.274057   5.542661
AS        1.808594  -0.833333
B6       14.287823   8.692593
DL        7.242450   0.339691
EV        9.092625   7.034580
F9       14.310398  13.630651
HA        2.571429   4.972973
MQ       11.094323   6.860591
NK       19.514401  18.436070
OO        9.662279   7.593463
UA       16.210485   7.765755
US        4.361355   1.681105
VX        8.918946   5.348884
WN       12.639366   6.397353

In [56]:
df.groupby('ORG_AIR')['AIR_TIME'].agg(['min', 'max', 'mean', 'std', 'sum'])

          min    max        mean        std       sum
ORG_AIR
ATL      17.0  577.0   91.169510  57.394086  940687.0
DEN      13.0  450.0  114.555306  44.594031  662817.0
DFW      14.0  513.0  107.994073  59.559103  747103.0
IAH      16.0  498.0  112.485688  58.705593  483351.0
LAS      30.0  385.0  127.622869  76.164036  508960.0
LAX      18.0  396.0  156.875861  96.484562  911135.0
MSP      16.0  513.0  113.010651  56.764029  381976.0
ORD      14.0  542.0  101.926565  66.916906  827236.0
PHX      20.0  413.0  123.257838  69.463749  562179.0
SFO       8.0  361.0  148.171781  97.162142  637435.0

In [59]:
result = df.groupby('ORG_AIR')[['DEP_DELAY', 'ARR_DELAY']].agg(['min', 'max', 'mean', 'std', 'sum'])
result.sort_values(by=('DEP_DELAY', 'sum'))
# 컬럼이 multi-index일 경우 tuple로 정렬기준 컬럼을 묶어준다.
# (level 0 컬럼명, level1 컬럼명 )  - level 0 바깥쪽 컬럼명.

        DEP_DELAY                                         ARR_DELAY          \
              min     max       mean        std       sum       min     max
ORG_AIR
MSP         -17.0   461.0   7.206256  31.106744   24422.0     -53.0   474.0
PHX         -22.0   555.0   8.502841  29.030604   38909.0     -60.0   551.0
LAS         -21.0   751.0  10.792156  37.002550   43201.0     -52.0   732.0
SFO         -20.0   684.0  11.028730  36.183050   47600.0     -51.0   682.0
IAH         -17.0   835.0  11.821255  39.282925   51056.0     -47.0   858.0
LAX         -24.0   746.0  10.961690  35.372928   63808.0     -58.0   725.0
DEN         -18.0  1194.0  11.052586  37.430423   64105.0     -44.0  1185.0
DFW         -16.0   852.0  11.593030  38.389920   80502.0     -45.0   839.0
ATL         -18.0   702.0   9.267446  32.078708   95881.0     -57.0   692.0
ORD         -16.0   511.0  14.760098  41.303297  120221.0     -52.0   531.0


             mean        std      sum
ORG_AIR
MSP      1.534615  33.700327   5187.0
PHX      4.074984  30.816834  18586.0
LAS      6.171515  38.933083  24612.0
SFO      5.429800  37.595333  23359.0
IAH      7.437747  40.753990  31960.0
LAX      6.206956  37.595802  36050.0
DEN      6.432769  39.481003  37220.0
DFW      7.035704  41.062388  48673.0
ATL      2.959973  34.219670  30541.0
ORD      9.594505  44.546766  77869.0

In [60]:
result['DEP_DELAY'] # LEVEL 0 컬럼명으로조회
result['DEP_DELAY','min'] # level 0, level 1

ORG_AIR
ATL   -18.0
DEN   -18.0
DFW   -16.0
IAH   -17.0
LAS   -21.0
LAX   -24.0
MSP   -17.0
ORD   -16.0
PHX   -22.0
SFO   -20.0
Name: (DEP_DELAY, min), dtype: float64

In [ ]:
# 조회 메소드.
result.xs("min", # 컬럼명
        axis=1, # 방향 (0-행, 1-열)
        level=1) # multi index 의 level

         DEP_DELAY  ARR_DELAY
ORG_AIR
ATL          -18.0      -57.0
DEN          -18.0      -44.0
DFW          -16.0      -45.0
IAH          -17.0      -47.0
LAS          -21.0      -52.0
LAX          -24.0      -58.0
MSP          -17.0      -53.0
ORD          -16.0      -52.0
PHX          -22.0      -60.0
SFO          -20.0      -51.0

In [63]:
df.groupby("AIRLINE").agg({
    "DEP_DELAY": ["mean","std","count"],
    "ARR_DELAY": ["min","max"],
    "AIR_TIME": "count"
})

         DEP_DELAY                   ARR_DELAY         AIR_TIME
              mean        std  count       min     max    count
AIRLINE
AA       11.274057  40.787806   8750     -60.0   858.0     8720
AS        1.808594  29.543702    768     -57.0   344.0      768
B6       14.287823  36.863416    542     -51.0   331.0      540
DL        7.242450  29.759377  10563     -57.0   741.0    10539
EV        9.092625  34.582917   5722     -39.0   669.0     5697
F9       14.310398  51.773844   1308     -43.0   839.0     1305
HA        2.571429  33.880743    112     -44.0   298.0      111
MQ       11.094323  31.159293   3329     -37.0   357.0     3314
NK       19.514401  46.484632   1493     -39.0   474.0     1486
OO        9.662279  33.413767   6458     -44.0   724.0     6425
UA       16.210485  44.834336   7706     -58.0  1185.0     7680
US        4.361355  24.550930   1594     -51.0   431.0     1593
VX        8.918946  31.782085    987     -51.0   236.0      986
WN       12.639366  30.506549   8327     -52.0   493.0     8310

## 복수열 기준 그룹핑

-   두개 이상의 열을 그룹으로 묶을 수 있다.
-   groupby의 매개변수에 그룹으로 묶을 컬럼들의 이름을 리스트로 전달한다.

In [64]:
df.groupby(["MONTH", "DAY"])['DEP_DELAY'].mean()

MONTH  DAY
1      1      17.085271
       2      19.118343
       3      29.440000
       4      40.928994
       5      18.362573
                ...
12     27     27.395062
       28     36.134228
       29     23.493827
       30     35.231183
       31     11.175182
Name: DEP_DELAY, Length: 334, dtype: float64

In [65]:
result = df.groupby(['ORG_AIR', "DEST_AIR"])[['DEP_DELAY', 'ARR_DELAY']].agg(['mean', 'std'])
result

                  DEP_DELAY             ARR_DELAY
                       mean        std       mean        std
ORG_AIR DEST_AIR
ATL     ABE        9.612903  35.323908   5.967742  35.247207
        ABQ        7.062500  20.325579   0.250000  37.288962
        ABY       22.473684  49.316854  20.578947  49.388838
        ACY        7.166667   8.084965  10.666667  11.587349
        AEX       11.000000  31.141530   7.525000  34.360075
...                     ...        ...        ...        ...
SFO     SNA        8.483051  37.090956   3.296610  37.678648
        STL       25.100000  50.211028  18.100000  57.959060
        SUN       17.700000  25.720938  13.900000  26.983328
        TUS       14.200000  37.975893  15.550000  37.701703
        XNA       -3.000000   2.828427 -28.500000   2.121320

[1130 rows x 4 columns]

In [66]:
result.loc['ATL']

          DEP_DELAY             ARR_DELAY
               mean        std       mean        std
DEST_AIR
ABE        9.612903  35.323908   5.967742  35.247207
ABQ        7.062500  20.325579   0.250000  37.288962
ABY       22.473684  49.316854  20.578947  49.388838
ACY        7.166667   8.084965  10.666667  11.587349
AEX       11.000000  31.141530   7.525000  34.360075
...             ...        ...        ...        ...
TUS       31.700000  81.458988  21.100000  81.848709
TYS        5.610169  19.050764   1.389831  22.149972
VLD        1.954545  15.295431   0.363636  17.646112
VPS        6.369231  24.800182   3.446154  29.441696
XNA       11.509434  43.908394   8.019231  42.714047

[159 rows x 4 columns]

In [67]:
result.loc[['ATL', 'SFO']]

                  DEP_DELAY             ARR_DELAY
                       mean        std       mean        std
ORG_AIR DEST_AIR
ATL     ABE        9.612903  35.323908   5.967742  35.247207
        ABQ        7.062500  20.325579   0.250000  37.288962
        ABY       22.473684  49.316854  20.578947  49.388838
        ACY        7.166667   8.084965  10.666667  11.587349
        AEX       11.000000  31.141530   7.525000  34.360075
...                     ...        ...        ...        ...
SFO     SNA        8.483051  37.090956   3.296610  37.678648
        STL       25.100000  50.211028  18.100000  57.959060
        SUN       17.700000  25.720938  13.900000  26.983328
        TUS       14.200000  37.975893  15.550000  37.701703
        XNA       -3.000000   2.828427 -28.500000   2.121320

[233 rows x 4 columns]

In [68]:
# LEVEL 0, LEVEL1
result.loc[('ATL','ABQ')]

DEP_DELAY  mean     7.062500
           std     20.325579
ARR_DELAY  mean     0.250000
           std     37.288962
Name: (ATL, ABQ), dtype: float64

In [69]:
# LEVEL 1 조회 - xs()
result.xs("ABQ",axis=0,level=1)

         DEP_DELAY             ARR_DELAY
              mean        std       mean        std
ORG_AIR
ATL       7.062500  20.325579   0.250000  37.288962
DEN       7.826087  22.439355   4.086957  25.446961
DFW       7.703704  25.952518   1.981481  25.808066
IAH      26.115385  64.458562  25.192308  64.164800
LAS      11.264706  26.110846   8.676471  28.117417
LAX      19.333333  41.316085  19.370370  41.531664
MSP      -2.555556   9.342258  -4.333333  12.884099
ORD      14.350000  29.275956  11.052632  32.267069
PHX       9.231884  24.717311   7.086957  26.589880
SFO      19.250000  32.392830  17.416667  32.745460

## Group 별 집계결과에서 특정 조건의 항목만 조회

-   Groupby 집계 후 boolean indexing 처리한다.

In [71]:
# 항공사별 취소 건수가 100건 이상인 항공사만 조회
result = df.groupby("AIRLINE")["CANCELLED"].sum()
result[result >= 100]

AIRLINE
AA    154
EV    146
MQ    152
OO    142
Name: CANCELLED, dtype: int64

# 사용자 정의 집계함수를 agg() 를 이용해 호출

## 사용자 정의 집계 함수 정의

-   매개변수
    1. Series 또는 DataFrame을 받을 매개변수(필수)
    2. 필요한 값을 받을 매개변수를 선언한다. (선택)
-   반환값
    -   집계결과값 반환

In [72]:
### max()  min()의 차
def min_max_diff(column):
    return column.max() - column.min()

In [73]:
min_max_diff(df['AIR_TIME'])

np.float64(569.0)

In [74]:
df['AIR_TIME'].agg(min_max_diff)

np.float64(569.0)

In [75]:
df['AIR_TIME'].agg(["min","max",min_max_diff])

min               8.0
max             577.0
min_max_diff    569.0
Name: AIR_TIME, dtype: float64

In [76]:
df[['DEP_DELAY', 'ARR_DELAY']].agg(min_max_diff)

DEP_DELAY    1218.0
ARR_DELAY    1245.0
dtype: float64

In [77]:
# TODO

# 1. data/diamonds.csv 를 읽어 DataFrame 생성
df = pd.read_csv("data/diamonds.csv")
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   color    53940 non-null  object
 3   clarity  53940 non-null  object
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB

In [81]:
# 2. carat, price, depth의 합계, 평균, 최대, 최소 조회
df[['carat','price','depth']].agg(['sum','mean','max','min'])

            carat         price         depth
sum   43040.87000  2.121352e+08  3.330763e+06
mean      0.79794  3.932800e+03  6.174940e+01
max       5.01000  1.882300e+04  7.900000e+01
min       0.20000  3.260000e+02  4.300000e+01

In [84]:
# 3. price는 최대, 최소, color는 고유값의 개수를 조회
d = {
    "price" : ["min", "max"],
    "color" : "nunique"
}
df.agg(d)

           price  color
min        326.0    NaN
max      18823.0    NaN
nunique      NaN    7.0

In [85]:
df.cut.value_counts()

cut
Ideal        21551
Premium      13791
Very Good    12082
Good          4906
Fair          1610
Name: count, dtype: int64

In [88]:
# 4. cut별 가격 평균 조회
result = round(df.groupby("cut")["price"].agg("mean"),2)
result

cut
Fair         4358.76
Good         3928.86
Ideal        3457.54
Premium      4584.26
Very Good    3981.76
Name: price, dtype: float64

In [89]:
# 5. cut별 가격 평균중 4000이상만 조회
result[result >= 4000]

cut
Fair       4358.76
Premium    4584.26
Name: price, dtype: float64

In [91]:
# 6. clarity별 carat 평균과 표준편차 조회
# dia.clarity.value_counts()
df.groupby('clarity')['carat'].agg(["mean","std"])

             mean       std
clarity
I1       1.283846  0.632436
IF       0.505123  0.313433
SI1      0.850482  0.449652
SI2      1.077648  0.516653
VS1      0.727158  0.423529
VS2      0.763935  0.446292
VVS1     0.503321  0.299557
VVS2     0.596202  0.359697

In [94]:
# 7. cut과 color 별로 가격은 평균을 carat은 최대값을 조회
d = {
    "price" : "mean",
    "carat" : "max"
}

result2 = df.groupby(['cut','color'])[["price","carat"]].agg(d)
result2

                       price  carat
cut       color
Fair      D      4291.061350   3.40
          E      3682.312500   2.04
          F      3827.003205   2.58
          G      4239.254777   2.60
          H      5135.683168   4.13
          I      4685.445714   3.02
          J      4975.655462   5.01
Good      D      3405.382175   2.04
          E      3423.644159   3.00
          F      3495.750275   2.67
          G      4123.482204   2.80
          H      4276.254986   3.01
          I      5078.532567   3.01
          J      4574.172638   3.00
Ideal     D      2629.094566   2.75
          E      2597.550090   2.28
          F      3374.939362   2.45
          G      3720.706388   2.54
          H      3889.334831   3.50
          I      4451.970377   3.22
          J      4918.186384   3.01
Premium   D      3631.292576   2.57
          E      3538.914420   3.05
          F      4324.890176   3.01
          G      4500.742134   3.01
          H      5216.706780   3.24
          I      5946.180672   4.01
          J      6294.591584   4.01
Very Good D      3470.467284   2.58
          E      3214.652083   2.51
          F      3778.820240   2.48
          G      3872.753806   2.52
          H      4535.390351   3.00
          I      5255.879568   4.00
          J      5103.513274   2.74

In [95]:
df.pivot_table(index='color', columns='cut', values='price', aggfunc='mean')

cut           Fair         Good        Ideal      Premium    Very Good
color
D      4291.061350  3405.382175  2629.094566  3631.292576  3470.467284
E      3682.312500  3423.644159  2597.550090  3538.914420  3214.652083
F      3827.003205  3495.750275  3374.939362  4324.890176  3778.820240
G      4239.254777  4123.482204  3720.706388  4500.742134  3872.753806
H      5135.683168  4276.254986  3889.334831  5216.706780  4535.390351
I      4685.445714  5078.532567  4451.970377  5946.180672  5255.879568
J      4975.655462  4574.172638  4918.186384  6294.591584  5103.513274

In [97]:
# 8. 7번 문제의 결과에서 가격의 평균이 5000이상이고 carat의 최대값이 3이상인 결과만 조회
result2.query("price >= 5000 & carat >= 3")

                       price  carat
cut       color
Fair      H      5135.683168   4.13
Good      I      5078.532567   3.01
Premium   H      5216.706780   3.24
          I      5946.180672   4.01
          J      6294.591584   4.01
Very Good I      5255.879568   4.00

# pivot_table()

엑셀의 pivot table 기능을 제공하는 메소드.  
분류별 집계(Group으로 묶어 집계)를 처리하는 함수로 group으로 묶고자 하는 컬럼들을 행과 열로 위치시키고 집계값을 값으로 보여준다.  
역할은 `groupby()`를 이용한 집계와 같은데 **여러개 컬럼을 기준으로 groupby 를 할 경우 집계결과를 읽는 것이 더 편하다.(가독성이 좋다)**

> pivot() 함수와 역할이 다르다.  
> pivot() 은 index와 column의 형태를 바꾸는 reshape 함수.

-   `DataFrame.pivot_table(values=None, index=None, columns=None, aggfunc='mean', fill_value=None, margins=False, dropna=True, margins_name='All')`
-   **매개변수**
    -   **index**
        -   문자열 또는 리스트. index로 올 컬럼들 => groupby였으면 묶었을 컬럼
    -   **columns**
        -   문자열 또는 리스트. column으로 올 컬럼들 => groupby였으면 묶었을 컬럼 (index/columns가 묶여서 groupby에 묶을 컬럼들이 된다.)
    -   **values**
        -   문자열 또는 리스트. 집계할 대상 컬럼들
    -   **aggfunc**
        -   집계함수 지정. 함수, 함수이름문자열, 함수리스트(함수이름 문자열/함수객체), dict: 집계할 함수
        -   기본(생략시): 평균을 구한다. (mean이 기본값)
    -   **fill_value, dropna**
        -   fill_value: 집계시 NA가 나올경우 채울 값
        -   dropna: boolean. 컬럼의 전체값이 NA인 경우 그 컬럼 제거(기본: True)
    -   **margins/margins_name**
        -   margin: boolean(기본: False). 총집계결과를 만들지 여부.
        -   margin_name: margin의 이름 문자열로 지정 (생략시 All)

### 두개의 컬럼을 grouping 해서 집계

-   항공사/출발공항코드 별 취소 총수 (1이 취소이므로 합계를 구한다.)
-   사용컬럼
    -   grouping할 컬럼
        -   AIRLINE: 항공사
        -   ORG_AIR: 출발 공항코드
    -   집계대상컬럼
        -   CANCELLED: 취소여부 - 1:취소, 0: 취소안됨
-   집계: sum

In [100]:
df = pd.read_csv("data/flights.csv")
df.groupby(["AIRLINE", "ORG_AIR"])['CANCELLED'].sum()

AIRLINE  ORG_AIR
AA       ATL         3
         DEN         4
         DFW        86
         IAH         3
         LAS         3
                    ..
WN       LAS         7
         LAX        32
         MSP         1
         PHX         6
         SFO        25
Name: CANCELLED, Length: 114, dtype: int64

In [101]:
df.pivot_table(index="AIRLINE",      # GROUP 으로 묶을 컬럼중 행에 위치시킬 것
                columns="ORG_AIR",   # GROUP 으로 묶을 컬럼중 열에 위치시킬 것
                values="CANCELLED",  # 집계할 컬럼
                aggfunc="sum",       # 집계 함수(판다스 함수: 문자열, 여러개: 리스트)
            )

ORG_AIR   ATL   DEN   DFW   IAH  LAS   LAX  MSP   ORD  PHX   SFO
AIRLINE
AA        3.0   4.0  86.0   3.0  3.0  11.0  3.0  35.0  4.0   2.0
AS        0.0   0.0   0.0   0.0  0.0   0.0  0.0   0.0  0.0   0.0
B6        NaN   0.0   0.0   NaN  0.0   0.0  NaN   0.0  0.0   1.0
DL       28.0   1.0   0.0   0.0  1.0   1.0  4.0   0.0  1.0   2.0
EV       18.0   6.0  27.0  36.0  NaN   NaN  6.0  53.0  0.0   NaN
F9        0.0   2.0   1.0   0.0  1.0   1.0  1.0   4.0  0.0   0.0
HA        NaN   NaN   NaN   NaN  0.0   0.0  NaN   NaN  0.0   0.0
MQ        5.0   NaN  62.0   0.0  NaN   0.0  0.0  85.0  NaN   NaN
NK        1.0   1.0   6.0   0.0  1.0   1.0  3.0  10.0  2.0   NaN
OO        3.0  25.0   2.0  10.0  0.0  15.0  4.0  41.0  9.0  33.0
UA        2.0   9.0   1.0  23.0  3.0   6.0  2.0  25.0  3.0  19.0
US        0.0   0.0   2.0   2.0  1.0   0.0  0.0   6.0  7.0   3.0
VX        NaN   NaN   NaN   NaN  0.0   3.0  NaN   0.0  NaN   3.0
WN        9.0  13.0   NaN   NaN  7.0  32.0  1.0   NaN  6.0  25.0

In [102]:
df.pivot_table( index = "DEST_AIR", columns = "ORG_AIR", values = "AIR_TIME",
                aggfunc = "mean",     # default: "mean"
                margins = True,       # 총집계 결과 컬럼/행을 추가
                margins_name = "총계", # 생략: All
                fill_value = -1       # NaN 대신 채울 값
)

ORG_AIR,ATL,DEN,DFW,IAH,LAS,LAX,MSP,ORD,PHX,SFO,총계
DEST_AIR,,,,,,,,,,,
ABE,96.387097,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,87.608696,-1.000000,-1.000000,92.648148
ABI,-1.000000,-1.000000,30.597222,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,30.597222
ABQ,170.500000,54.152174,84.425926,111.461538,63.852941,89.259259,133.333333,154.263158,46.086957,111.250000,83.519174
ABR,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,47.117647,-1.000000,-1.000000,-1.000000,47.117647
ABY,28.578947,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,28.578947
...,...,...,...,...,...,...,...,...,...,...,...
VLD,37.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,37.000000
VPS,43.492308,-1.000000,86.372549,76.157895,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,64.288889
XNA,88.134615,79.444444,44.878788,69.351351,-1.000000,-1.000000,90.642857,79.987654,-1.000000,173.500000,72.494253
YUM,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,32.423077,-1.000000,32.423077
총계,91.169510,114.555306,107.994073,112.485688,127.622869,156.875861,113.010651,101.926565,123.257838,148.171781,115.928576

### 3개 이상의 컬럼을 grouping해서 집계

-   항공사/월/출발공항코드 별 취소 총수
-   grouping할 컬럼
    -   AIRLINE:항공사
    -   MONTH:월
    -   ORG_AIR: 출발지 공항
-   집계 대상컬럼
    -   CANCELLED: 취소여부
-   집계 : sum

In [104]:
df.pivot_table(index="MONTH", 
                columns=["AIRLINE", "ORG_AIR"],
                values="CANCELLED",
                aggfunc="sum"
            ).T

MONTH             1     2     3    4    5    6    7    8    9    11   12
AIRLINE ORG_AIR
AA      ATL      0.0   2.0   1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
        DEN      0.0   1.0   0.0  0.0  2.0  0.0  0.0  0.0  0.0  0.0  1.0
        DFW      8.0  33.0  13.0  4.0  8.0  7.0  1.0  2.0  1.0  3.0  6.0
        IAH      0.0   1.0   0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0
        LAS      0.0   2.0   0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
...              ...   ...   ...  ...  ...  ...  ...  ...  ...  ...  ...
WN      LAS      1.0   1.0   1.0  0.0  0.0  0.0  1.0  1.0  0.0  1.0  1.0
        LAX      3.0   2.0   3.0  2.0  1.0  0.0  9.0  4.0  3.0  3.0  2.0
        MSP      1.0   0.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
        PHX      0.0   2.0   1.0  1.0  0.0  0.0  1.0  0.0  0.0  1.0  0.0
        SFO      4.0   5.0   0.0  2.0  2.0  6.0  0.0  2.0  2.0  2.0  0.0

[114 rows x 11 columns]

## cut() - 연속형(수치형)을 범주형으로 변환

-   cut() : 지정한 값을 기준으로 구간을 나눠 그룹으로 묶는다.
    -   `pd.cut(x, bins,right=True, labels=None)`
    -   매개변수
        -   **x**: 범주형으로 바꿀 대상. 1차원 배열형태(Series, 리스트, ndarray)의 자료구조
        -   **bins**: 범주로 나눌때의 기준값(구간경계)들을 리스트로 묶어서 전달한다.
        -   **right**: 구간경계의 오른쪽(True-기본)을 포함할지 왼쪽(False)을 포함할지
        -   **labels**: 각 구간(범주)의 label을 리스트로 전달
            -   생략하면 범위를 범주명으로 사용한다. (ex: (10, 20], ()-포함안함, []-포함)

In [ ]:
# np.random.normal(평균, 표준편차, size=개수): 정규분포를 따르는 난수 생성
# 평균에 가까운 값들이 많이 생성.
# 평균 +- 표준편차  범위에서 대략 70%(68%) 분포됨.
# 평균 +- 표준편차 * 2 범위에 대략 95%(94.7%) 분포됨.
# 평균 +- 표준편차 * 3 범위에 대략 99% 분포됨.

# 평균: 170, 표준편차: 10
# 100 개 난수 생성 -> 160 ~ 180 : 70 개
#                        -> 150 ~ 190 : 95 개

In [106]:
import numpy as np
np.random.seed(0)
d = {
    "age": np.random.randint(1,100,size=30),
    "tall": np.round(np.random.normal(170,10,size=30),2),
}
df = pd.DataFrame(d)
df.head(5)

   age    tall
0   45  168.18
1   48  184.10
2   65  166.26
3   68  172.75
4   68  160.39

In [108]:
나이대 = pd.cut( df['age'],  # 범주형으로 만들 수치형값들
                bins = 3, # 몇개의 범주로 나눌지. (범위로 등분)  
                right = False   # default: True -> 등분 범위에 어느쪽을 포함시킬지.
                                # True: 끝 포함, False: 시작 포함
)

In [109]:
pd.DataFrame({"age":df['age'], "나이대": 나이대})

    age               나이대
0    45  [36.333, 62.667)
1    48  [36.333, 62.667)
2    65  [62.667, 89.079)
3    68  [62.667, 89.079)
4    68  [62.667, 89.079)
5    10    [10.0, 36.333)
6    84  [62.667, 89.079)
7    22    [10.0, 36.333)
8    37  [36.333, 62.667)
9    88  [62.667, 89.079)
10   71  [62.667, 89.079)
11   89  [62.667, 89.079)
12   89  [62.667, 89.079)
13   13    [10.0, 36.333)
14   59  [36.333, 62.667)
15   66  [62.667, 89.079)
16   40  [36.333, 62.667)
17   88  [62.667, 89.079)
18   47  [36.333, 62.667)
19   89  [62.667, 89.079)
20   82  [62.667, 89.079)
21   38  [36.333, 62.667)
22   26    [10.0, 36.333)
23   78  [62.667, 89.079)
24   73  [62.667, 89.079)
25   10    [10.0, 36.333)
26   21    [10.0, 36.333)
27   81  [62.667, 89.079)
28   70  [62.667, 89.079)
29   80  [62.667, 89.079)

In [110]:
나이대.value_counts()

age
[62.667, 89.079)    17
[36.333, 62.667)     7
[10.0, 36.333)       6
Name: count, dtype: int64

-   범위 표현방식
    -   (시작값, 종료값), \[시작값, 종료값\] : 시작값 ~ 종료값
    -   () : opened - 불포함, [] : closed - 포함
    -   (100, 200): 100 ~ 200 (100, 200 불포함)
    -   \[100, 200\]: 100 ~ 200 (100, 200 포함)
    -   (100, 200]: 100 ~ 200 (100: 불포함, 200 포함)

In [111]:
나이대 = pd.cut(df['age'], # 범주형으로 만들 수치형값들.
                bins=3,  # 몇개의 범주로 나눌지. (범위로 등분)     
                labels=["나이대1", "나이대2", "나이대3"]
)
나이대

0     나이대2
1     나이대2
2     나이대3
3     나이대3
4     나이대3
5     나이대1
6     나이대3
7     나이대1
8     나이대2
9     나이대3
10    나이대3
11    나이대3
12    나이대3
13    나이대1
14    나이대2
15    나이대3
16    나이대2
17    나이대3
18    나이대2
19    나이대3
20    나이대3
21    나이대2
22    나이대1
23    나이대3
24    나이대3
25    나이대1
26    나이대1
27    나이대3
28    나이대3
29    나이대3
Name: age, dtype: category
Categories (3, object): ['나이대1' < '나이대2' < '나이대3']

In [112]:
### 원하는 간격으로 범주값들을 나누기.
l = [1, 5, 20, 40, 50, 100] # 최소값, 분위값들(나누는 지점의 값), 최대값
# 0 ~ 5, 5 ~ 20, 20 ~ 40, 40 ~ 50, 50 ~ 100
result = pd.cut(df['age'], bins=l, labels=["유아", "청소년", "청년", "장년", "노년"])
result

0      장년
1      장년
2      노년
3      노년
4      노년
5     청소년
6      노년
7      청년
8      청년
9      노년
10     노년
11     노년
12     노년
13    청소년
14     노년
15     노년
16     청년
17     노년
18     장년
19     노년
20     노년
21     청년
22     청년
23     노년
24     노년
25    청소년
26     청년
27     노년
28     노년
29     노년
Name: age, dtype: category
Categories (5, object): ['유아' < '청소년' < '청년' < '장년' < '노년']

In [113]:
result_tall = pd.cut(df['tall'], bins=3, labels=["소","중","대"])
result_tall

0     중
1     대
2     중
3     중
4     소
5     중
6     중
7     대
8     소
9     중
10    중
11    대
12    중
13    중
14    대
15    대
16    대
17    중
18    소
19    대
20    대
21    중
22    중
23    중
24    소
25    대
26    중
27    소
28    대
29    소
Name: tall, dtype: category
Categories (3, object): ['소' < '중' < '대']

In [114]:
df.insert(1, "나이대", result)
df['키크기'] = result_tall
df.head()

   age 나이대    tall 키크기
0   45  장년  168.18   중
1   48  장년  184.10   대
2   65  노년  166.26   중
3   68  노년  172.75   중
4   68  노년  160.39   소

In [115]:
# 나이대별 키 평균
df.groupby("나이대")["tall"].mean()

/var/folders/xr/599qw2s17fbcnt9s05gnp0y40000gn/T/ipykernel_72830/3581360728.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby("나이대")["tall"].mean()

나이대
유아            NaN
청소년    173.546667
청년     168.171667
장년     170.500000
노년     171.340000
Name: tall, dtype: float64

In [116]:
df.groupby('키크기')['age'].mean()

/var/folders/xr/599qw2s17fbcnt9s05gnp0y40000gn/T/ipykernel_72830/3561220478.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('키크기')['age'].mean()

키크기
소    64.333333
중    56.000000
대    57.500000
Name: age, dtype: float64

In [119]:
# TODO
# 1: data/diamonds.csv 를 읽어 DataFrame으로 만든다.
# 2: price 컬럼을 '고가', '중가', '저가' 세개의 범주값을 가지는 "price_cate" 컬럼을 생성한다.
# dia.price.agg(['min', 'max'])

l = [320, 1000, 10000, 19000]
dia = pd.read_csv("data/diamonds.csv")
price_cate = pd.cut( dia['price'], bins = l, labels = ['고가','중가','저가'])

dia['price_cate'] = price_cate
dia.sample(frac=1).head(10)

,carat,cut,color,clarity,depth,table,price,x,y,z,price_cate
28974,0.31,Premium,I,VS2,59.8,60.0,435,4.38,4.42,2.63,고가
46077,0.52,Ideal,G,VS2,61.3,56.0,1737,5.18,5.21,3.18,중가
48540,0.72,Premium,J,SI1,62.1,59.0,1987,5.75,5.71,3.56,중가
45480,0.51,Very Good,D,VS2,62.2,57.0,1678,5.11,5.14,3.19,중가
19462,1.56,Good,J,VS2,62.3,64.0,8107,7.41,7.36,4.60,중가
21748,1.10,Ideal,F,VVS2,61.2,56.0,9817,6.68,6.65,4.08,중가
875,0.76,Very Good,F,VS2,62.0,58.0,2873,5.80,5.86,3.62,중가
30450,0.40,Ideal,F,SI2,61.0,56.0,731,4.76,4.81,2.92,고가
9867,1.03,Ideal,D,SI2,61.2,57.0,4679,6.51,6.59,4.01,중가
51807,0.71,Good,E,VS2,63.2,57.0,2416,5.63,5.66,3.56,중가

In [120]:
# 3 가격대(price_cate) 별 carat의 평균을 조회
dia.groupby('price_cate')['carat'].mean()

/var/folders/xr/599qw2s17fbcnt9s05gnp0y40000gn/T/ipykernel_72830/202613706.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  dia.groupby('price_cate')['carat'].mean()

price_cate
고가    0.334937
중가    0.850564
저가    1.741111
Name: carat, dtype: float64

In [123]:
# 4 가격대(price_cate)와 cut별 평균 가격(price)를 피봇테이블로 조회
dia.pivot_table(
    index = "price_cate",
    columns = "cut",
    values = "price",
    margins=True
)

/var/folders/xr/599qw2s17fbcnt9s05gnp0y40000gn/T/ipykernel_72830/806024432.py:2: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  dia.pivot_table(

cut,Fair,Good,Ideal,Premium,Very Good,All
price_cate,,,,,,
고가,776.720721,644.526079,733.002773,734.418851,650.268946,708.384880
중가,3659.525148,3909.661404,3527.096674,4104.596697,3974.808999,3819.856291
저가,13494.598639,13869.663102,13495.098870,13741.040952,13650.465302,13640.457488
All,4358.757764,3928.864452,3457.541970,4584.257704,3981.759891,3932.799722

## apply() - Series, DataFrame의 데이터 일괄 처리

데이터프레임의 행들과 열들 또는 Series의 원소들에 공통된 처리를 할 때 apply 함수를 이용하면 반복문을 사용하지 않고 일괄 처리가 가능하다.

-   DataFrame.apply(함수, axis=0, args=(), \*\*kwarg)
    -   인수로 행이나 열을 받는 함수를 apply 메서드의 인수로 넣으면 데이터프레임의 행이나 열들을 하나씩 함수에 전달한다.
    -   매개변수
        -   **함수**: DataFrame의 행들 또는 열들을 전달할 함수
        -   **axis**: **0-컬럼(열)을 전달, 1-행을 전달 (기본값 0)**
        -   **args**: 함수에 행/열 이외에 전달할 매개변수를 위치기반(순서대로) 튜플로 전달
        -   **\*\*kwarg**: 함수에 행/열 이외에 전달할 매개변수를 키워드 인자로 전달
-   Series.apply(함수, args=(), \*\*kwarg)
    -   인수로 Series의 원소들을 받는 함수를 apply 메소드의 인수로 넣으면 Series의 원소들을 하나씩 함수로 전달한다.
    -   매개변수
        -   **함수**: Series의 원소들을 전달할 함수
        -   **args**: 함수에 원소 이외에 전달할 매개변수를 위치기반(순서대로) 튜플로 전달
        -   **\*\*kwarg**: 함수에 원소 이외에 전달할 매개변수를 키워드 인자로 전달

In [124]:
df = pd.read_csv("data/flights.csv")
df.columns

Index(['MONTH', 'DAY', 'WEEKDAY', 'AIRLINE', 'ORG_AIR', 'DEST_AIR',
       'SCHED_DEP', 'DEP_DELAY', 'AIR_TIME', 'DIST', 'SCHED_ARR', 'ARR_DELAY',
       'DIVERTED', 'CANCELLED'],
      dtype='object')

In [125]:
# 요일: 1 (월), 7 (일)
df['WEEKDAY'].value_counts().sort_index()

WEEKDAY
1    8720
2    8535
3    8706
4    8659
5    8453
6    7052
7    8367
Name: count, dtype: int64

In [126]:
# 일괄처리 함수 (정수->요일 문자열로 변환)
import numpy as np
def convert_weekday(value):
    # if value == 1:
    #     return "월요일"
    if pd.isna(value):
        return np.nan
    return "월화수목금토일"[value-1]+"요일"

In [127]:
df['WEEKDAY'].apply(convert_weekday)[150:160]

150    금요일
151    금요일
152    금요일
153    금요일
154    금요일
155    금요일
156    금요일
157    금요일
158    금요일
159    금요일
Name: WEEKDAY, dtype: object

In [128]:
df['WEEKDAY'].apply(lambda x : "월화수목금토일"[x-1]+"요일")

0        목요일
1        목요일
2        목요일
3        목요일
4        목요일
        ...
58487    목요일
58488    목요일
58489    목요일
58490    목요일
58491    목요일
Name: WEEKDAY, Length: 58492, dtype: object